In [1]:
import pandas as pd
import getschools as gs

In [7]:
def get_schools_df():
    ret =  pd.read_csv("../clean/csv/schools.csv")
    
    ret["school_code"] = ret["school_code"].astype(str).str.zfill(7)
    
    return ret

schools = get_schools_df()

get_schools_df().head()

,school_code,district_code,type,district,school,street,city,state,zip,phone,...,grade_3,grade_4,grade_5,grade_6,grade_7,grade_8,grade_9,grade_10,grade_11,grade_12
0,0150317,None,Adult Education Providers,NaN,APT Foundation,425 Grand Street,Bridgeport,CT,06610,203-337-9943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0800182,None,Nonpublic Elementary and Secondary Schools,NaN,"ARC of Meriden-Wallingford, Inc.",224 Cook Avenue,Meriden,CT,06451,203-238-8362,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0570182,None,Nonpublic Elementary and Secondary Schools,NaN,Abilis-Greenwich,50 Glenville Street,Greenwich,CT,06831,203-531-1880 x154,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1350721,None,Nonpublic Elementary and Secondary Schools,NaN,Abilis-Stamford,1150 Summer Street,Stamford,CT,06905,203-324-1880,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0090182,None,Nonpublic Elementary and Secondary Schools,NaN,Ability Beyond,4 Berkshire Road,Bethel,CT,06801,203-826-3103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
def get_school(code):
    code = str(code).zfill(7)
    return schools[schools["school_code"] == code]

get_school(90182)

,school_code,district_code,type,district,school,street,city,state,zip,phone,...,grade_3,grade_4,grade_5,grade_6,grade_7,grade_8,grade_9,grade_10,grade_11,grade_12
4,0090182,None,Nonpublic Elementary and Secondary Schools,NaN,Ability Beyond,4 Berkshire Road,Bethel,CT,06801,203-826-3103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
def is_in_schools(code):
    return len(get_school(code)) == 1

In [13]:
is_in_schools("90182")

True

In [14]:
is_in_schools("")

False

In [18]:
is_in_schools("0090182")

True

In [23]:
def check_file(fname):
    
    df = pd.read_csv(fname)
    
    return df[df.apply(lambda x: not is_in_schools(x["school_code"]), axis=1)]
    
check_file("../clean/csv/enrollment-trend-ell.csv")

,school_code,district_code,district,school,no,yes,total,year
6,2449014,2440014,Area Cooperative Educational Services,A. C. E. S. Special Education Town Campus Lear...,19,0,19,2007-08
7,2446114,2440014,Area Cooperative Educational Services,Collaborative Alternative Magnet School,99,0,99,2007-08
37,110311,110011,Bloomfield School District,J. P. Vincent School,*,*,315,2007-08
40,116211,110011,Bloomfield School District,The Big Picture High School,79,0,79,2007-08
66,150911,150011,Bridgeport School District,Garfield School,215,63,278,2007-08
74,151911,150011,Bridgeport School District,Longfellow School,406,69,475,2007-08
77,159511,150011,Bridgeport School District,Make The Grade,28,9,37,2007-08
78,154311,150011,Bridgeport School District,Maplewood Annex,*,*,187,2007-08
80,159411,150011,Bridgeport School District,New Start Program,*,*,14,2007-08
81,159211,150011,Bridgeport School District,Park City Academy,*,*,30,2007-08
86,159111,150011,Bridgeport School District,The University School,*,*,46,2007-08
93,170711,170011,Bristol School District,Clara T. O'Connell School,315,40,355,2007-08
94,170111,170011,Bristol School District,Clarence A. Bingham School,238,15,253,2007-08
99,170611,170011,Bristol School District,John J. Jennings School,365,9,374,2007-08
100,175311,170011,Bristol School District,Memorial Boulevard Middle School,531,11,542,2007-08
119,2416314,2410014,Capitol Region Education Council,Great Path Academy at MCC,*,*,111,2007-08
133,259011,250011,Cheshire School District,Humiston School,23,0,23,2007-08
164,2439014,2430014,Cooperative Educational Services,C. E. S. Special Education,240,0,240,2007-08
168,328011,320011,Coventry School District,Coventry Early Intervention Services,11,0,11,2007-08
184,341811,340011,Danbury School District,Mill Ridge Educational Center,319,28,347,2007-08
202,3370315,3370015,Department of Mental Health and Addiction Serv...,Cedarcrest Regional Hosp - Blue Hills Hosp. Su...,7,0,7,2007-08
234,438011,430011,East Hartford School District,Willowbrook Early Childhood,288,0,288,2007-08
237,441411,440011,East Haven School District,D. C. Moore School,219,20,239,2007-08
242,441911,440011,East Haven School District,Hays School,160,18,178,2007-08
246,449011,440011,East Haven School District,Pathways,35,0,35,2007-08
247,441611,440011,East Haven School District,Robert W. Carbone School,294,25,319,2007-08
270,2810113,2810013,Elm City College Preparatory School,Elm City College Preparatory School,476,0,476,2007-08
275,496211,490011,Enfield School District,Enrico Fermi High School,1149,7,1156,2007-08
276,491211,490011,Enfield School District,Harriet Beecher Stowe School,*,*,282,2007-08
283,491711,490011,Enfield School District,Thomas G. Alcorn School,262,21,283,2007-08
...,...,...,...,...,...,...,...,...
9431,2411014,2410014,Capitol Region Education Council,Soundbridge @ Wethersfield High School,9,0,9,2015-16
9553,438011,430011,East Hartford School District,Willowbrook Early Childhood,229,0,229,2015-16
9556,441411,440011,East Haven School District,D. C. Moore School,184,23,207,2015-16
9603,496211,490011,Enfield School District,Enrico Fermi High School,*,*,861,2015-16
9727,646111,640011,Hartford School District,Bulkeley High School Lower School,257,155,412,2015-16
9732,642411,640011,Hartford School District,Clark School,179,67,246,2015-16
9736,645811,640011,Hartford School District,EDP - Betances School,*,*,17,2015-16
9740,648111,640011,Hartford School District,EDP - McDonough Middle School,*,*,9,2015-16
9802,2450914,2450014,Learn,Learn Kelly Middle School Intensive Program,*,0,*,2015-16
9890,830311,830011,Middletown School District,OASIS,*,0,*,2015-16
9959,891811,890011,New Britain School District,Steps,29,7,36,2015-16
9994,938111,930011,New Haven School District,Early Learning Center,123,0,123,2015-16
10010,934411,930011,New Haven School District,NHPS Self Contained Autism,40,0,40,2015-16
10011,935011,930011,New Haven School District,NHPS Self Contained Intellectually Disabled,23,7,30,2015-16
10012,934511,930011,New Haven School District,NHPS Self Contained Multi-Handicapped,36,6,42,2015-16
10054,979011,970011,Newtown School District,STARR,*,0,*,2015-16
10072,1025111,1020011,North Stonington School District,Wheeler Middle School,*,*,173,2015-16
10093,9010122,9010022,Norwich Free Academy District,"LEAD (Life Skills, Education and Adult Develop...",*,*,12,2015-16
10101,1040711,1040011,Norwich School District,IRS Program at Uncas,*,0,*,2015-16
10168,2068112,2060012,Regional School District 06,Early Childhood Learning Center,64,0,64,2015-16
10192,2130212,2130012,Regional School District 13,Francis E. Korn School,143,0,143,2015-16
10235,1180111,1180011,Ridgefield School District,District Program BMES,*,0,*,2015-16
10448,1460511,1460011,Vernon School District,Loveland Hill School,10,0,10,2015-16
10453,1460711,1460011,Vernon School District,VPS PreK Collaborative - YMCA,8,0,8,2015-16
10484,1513611,1510011,Waterbury School District,Duggan CBL,8,0,8,2015-16
10487,1513811,1510011,Waterbury School District,Excel II,*,0,*,2015-16
10488,1513911,1510011,Waterbury School District,Excel III,*,*,6,2015-16
10601,1610111,1610011,Wilton School District,Wilton-Westport Evening School,*,0,*,2015-16
10603,1620211,1620011,Winchester School District,Mary P. Hinsdale School,219,18,237,2015-16
10748,173311,170011,Bristol School District,Bristol Preparatory Academy,46,0,46,2016-17

In [26]:
is_in_schools(110311)

False

In [27]:
schools[schools["school"].str.contains("Vincent")]

,school_code,district_code,type,district,school,street,city,state,zip,phone,...,grade_3,grade_4,grade_5,grade_6,grade_7,grade_8,grade_9,grade_10,grade_11,grade_12
526,1440161,None,Nonpublic Elementary and Secondary Schools,NaN,St. Vincent's Special Needs School Program,95 Merritt Blvd,Trumbull,CT,06611,203-375-6400,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [45]:
len(schools["type"])

2383

In [60]:
len(schools_db["type"])

2559

In [61]:
len(schools_db["type"]) - len(schools["type"])

176

In [42]:
import json
schools_db = pd.DataFrame.from_records(gs.get_schools())

In [55]:
schools_db["type"].value_counts().to_frame()

                                                    type
Public Schools                                       922
Nonpublic Elementary and Secondary Schools           620
Program                                              391
Public School Districts                              149
Adult Education Providers                             65
Regional Schools                                      55
State Agency Facilities                               32
Regional Education Service Center Schools             29
Public Charter Schools                                24
Public Charter School Districts                       24
Colleges and Universities                             18
CT Technical High Schools                             17
Regional School Districts                             17
State Agencies                                         7
Regional Education Service Center School Districts     6
Endowed and Incorporated Academies Districts           3
Endowed and Incorporated Academies Schools             3
CT Technical High School Districts                     1

In [56]:
schools["type"].value_counts().to_frame().join(schools_db["type"].value_counts().to_frame(),rsuffix="_db",how="right")

                                                    type  type_db
Public Schools                                       922      922
Nonpublic Elementary and Secondary Schools           620      620
Program                                              391      391
Public School Districts                              149      149
Adult Education Providers                             65       65
Regional Schools                                      55       55
State Agency Facilities                               32       32
Regional Education Service Center Schools             29       29
Public Charter Schools                                24       24
Public Charter School Districts                       24       24
Colleges and Universities                             18       18
CT Technical High Schools                             17       17
Regional School Districts                             17       17
State Agencies                                         7        7
Regional Education Service Center School Districts     6        6
Endowed and Incorporated Academies Districts           3        3
Endowed and Incorporated Academies Schools             3        3
CT Technical High School Districts                     1        1

In [58]:
len(schools[schools["type"].isnull()])

0

In [59]:
len(schools[schools_db["type"].isnull()])

/usr/local/lib/python2.7/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

176