In [1]:
import pandas as pd
import numpy as np
import getschools as gs

In [106]:
DATA_YEAR="2014-15"

def get_state(level="elementary",skiprows=3):
    
    ret = pd.read_excel("../raw/class size 6444.xlsx",sheetname="STATEWIDE_" + level,skiprows=skiprows)
    ret["year"] = DATA_YEAR
    a
    ret = gs.clean_colnames(ret)
    return ret

elem_state = get_state(level="elementary")
elem_state

  grade  n_obs     n       mean     year
0     1   5150  5150  19.539417  2014-15
1     2   5089  5089  20.556101  2014-15
2     3   4804  4804  20.932764  2014-15
3     4   5070  5070  21.394477  2014-15
4     5   5597  5597  20.907808  2014-15
5     6   7941  7941  20.549049  2014-15
6     7   7910  7910  20.289760  2014-15
7     8   7959  7959  20.377937  2014-15
8    KG   4651  4651  19.138895  2014-15
9    PK   1262  1262  16.095087  2014-15

In [78]:
#get_state(level="Secondary",skiprows=4)
#get_state(level="Secondary",skiprows=4)
state_dfs = {
    "Secondary":get_state(level="Secondary",skiprows=4),
    "elementary:":get_state(level="elementary")
}
state_dfs["Secondary"]

,ncescoursename,n,mean,year
0,AP Biology,212,16.561321,2014-15
1,AP Calculus AB,206,17.121359,2014-15
2,AP Calculus BC,73,16.849315,2014-15
3,AP Chemistry,140,15.764286,2014-15
4,AP Comparative Government and Politics,17,16.647059,2014-15
5,AP Economics,38,21.447368,2014-15
6,AP English Language and Composition,310,18.712903,2014-15
7,AP English Literature and Composition,272,17.224265,2014-15
8,AP Environmental Science,110,17.063636,2014-15
9,AP European History,82,16.060976,2014-15
10,AP Government,23,18.173913,2014-15
11,AP Human Geography,28,18.892857,2014-15
12,AP Macroeconomics,14,20.928571,2014-15
13,AP Microeconomics,19,18.736842,2014-15
14,AP Physics B,143,18.510489,2014-15
15,AP Physics C,30,16.166667,2014-15
16,AP Physics C: Mechanics,1,21.000000,2014-15
17,AP Psychology,275,20.960000,2014-15
18,AP Statistics,180,19.077778,2014-15
19,AP U.S. Government and Politics,125,19.544000,2014-15
20,AP U.S. History,270,18.185185,2014-15
21,AP World History,62,16.306452,2014-15
22,Abstract Algebra,1,23.000000,2014-15
23,Aerospace,7,11.285714,2014-15
24,Algebra - Other,48,16.395833,2014-15
25,Algebra I,1386,18.704185,2014-15
26,Algebra I - Part 1,194,16.340206,2014-15
27,Algebra I - Part 2,158,17.082279,2014-15
28,Algebra II,1597,20.364433,2014-15
29,Algebra III,76,19.802632,2014-15
...,...,...,...,...
225,Social Sciences and History - Proficiency Deve...,7,10.857143,2014-15
226,Social Studies,79,16.253165,2014-15
227,Sociology,136,19.860294,2014-15
228,Speech - Other,3,13.333333,2014-15
229,State-Specific Studies,4,20.250000,2014-15
230,Strategic Reading,227,12.185022,2014-15
231,Technical Math,1,12.000000,2014-15
232,Technical Science,11,15.454546,2014-15
233,Technological Inquiry,2,11.500000,2014-15
234,Transition Algebra,59,16.033898,2014-15
235,Trigonometry,84,17.857143,2014-15
236,Trigonometry/Algebra,76,19.210526,2014-15
237,Trigonometry/Analytic Geometry,2,8.000000,2014-15
238,Trigonometry/Math Analysis,15,16.933333,2014-15
239,U.S. Ethnic Studies,19,20.157895,2014-15
240,U.S. Gender Studies,5,12.000000,2014-15
241,U.S. Government - Comprehensive,96,20.614583,2014-15
242,U.S. History - Comprehensive,882,20.490930,2014-15
243,U.S. History - Other,208,18.528846,2014-15
244,Unified Science,49,15.142857,2014-15
245,United States and World Affairs,50,21.080000,2014-15
246,Western Civilization,141,18.879433,2014-15
247,World Area Studies,376,18.632979,2014-15
248,World Geography,96,20.302083,2014-15
249,World History - Other,63,19.714286,2014-15
250,World History - Overview,1125,19.654222,2014-15
251,World History and Geography,125,20.128000,2014-15
252,World Literature,422,19.372038,2014-15
253,World People Studies,72,22.013889,2014-15
254,Zoology,25,17.720000,2014-15

In [41]:
# get the weighted average of high school class sizes
def get_state_weighted_avg_hs():
    df = get_state(level="Secondary",skiprows=4)
    
    
    ret = [{
            "year":DATA_YEAR,
            "level":"statewide",
            "avg_class_size":np.average(df["mean"],weights=df["n"]),
    }]
    
    return pd.DataFrame(ret)

get_state_weighted_avg_hs()

   avg_class_size      level     year
0       19.021926  statewide  2014-15

# School-level

In [54]:
def clean_code(n,fill_len):
    
    try:
        return str(int(n)).zfill(fill_len)
    except:
        return

In [63]:
def w_avg(df, mean_col, w_col):
    return np.average(df[mean_col],weights=df[w_col])

In [64]:
def facility_df(df, school_name, school_col="school"):
    return df[df[school_col] == school_name]

In [71]:
def facility_weighted_avg(df, school_name, school_col="school", mean_col="mean",w_col="n"):
    ret = facility_df(df, school_name, school_col)
    
    #print ret[school_col].unique()

    return w_avg(ret, mean_col,w_col)

In [130]:
def get_school(level="elementary"):
    
    ret = pd.read_excel("../raw/class size 6444.xlsx",
                        sheetname="Facility_" + level, 
                        dtypes={"Facility1Code":str,
                              "District Code":str},
                        skiprows=4)
    
        
    ret = gs.clean_colnames(ret)
    
    ret["district_name"] = ret["district_name"].fillna(method="ffill")
    ret["school"] = ret["facility_name"].fillna(method="ffill")

    ret["district_code"] = ret["district_code"].apply(lambda x: clean_code(x, 3)).fillna(method="ffill")
    ret["school_code"] = ret["facility1code"].apply(lambda x: clean_code(x, 7)).fillna(method="ffill")
    
    ret = gs.add_district_code(ret)
    #ret["district_code"] = ret["dist_code"]
    ret["level"] = level.title()
    ret["year"] = DATA_YEAR
    
    ret["w_avg"] = ret.apply(lambda x: facility_weighted_avg(ret, x["school"]),axis=1)
    
    return ret

high_school_detail_df = get_school(level="Secondary")
high_school_detail_df.sort_values(by="w_avg",ascending=False)

,district_code,district_name,facility1code,facility_name,ncescoursename,n,mean,school,school_code,level,year,w_avg
7301,2820013,Stamford Academy District,NaN,NaN,Integrated Science,1,41.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7298,2820013,Stamford Academy District,NaN,NaN,English/Language Arts III (11th grade),1,51.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7292,2820013,Stamford Academy District,NaN,NaN,Biology,1,35.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7293,2820013,Stamford Academy District,NaN,NaN,Chemistry,1,51.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7294,2820013,Stamford Academy District,NaN,NaN,Civics,1,39.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7295,2820013,Stamford Academy District,NaN,NaN,English Language and Literature - Independent ...,1,12.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7296,2820013,Stamford Academy District,NaN,NaN,English/Language Arts I (9th grade),1,41.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7297,2820013,Stamford Academy District,NaN,NaN,English/Language Arts II (10th grade),1,36.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7299,2820013,Stamford Academy District,NaN,NaN,English/Language Arts IV (12th grade),1,37.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7290,2820013,Stamford Academy District,2826013.0,Stamford Academy,Algebra - Other,1,32.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7300,2820013,Stamford Academy District,NaN,NaN,Integrated Math - multi-year equivalent,2,63.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7304,2820013,Stamford Academy District,NaN,NaN,Social Sciences and History - Independent Study,1,7.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7302,2820013,Stamford Academy District,NaN,NaN,Mathematics - Independent Study,1,7.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7303,2820013,Stamford Academy District,NaN,NaN,Modern World History,1,36.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7307,2820013,Stamford Academy District,NaN,NaN,World History - Overview,1,41.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7306,2820013,Stamford Academy District,NaN,NaN,U.S. History - Comprehensive,1,50.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7291,2820013,Stamford Academy District,NaN,NaN,Anatomy and Physiology,1,28.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
7305,2820013,Stamford Academy District,NaN,NaN,Strategic Reading,1,85.0,Stamford Academy,2826013,Secondary,2014-15,39.736842
1266,0440011,East Haven School District,441711.0,Carbone School/East Haven Academy,Pre-Algebra,1,34.0,Carbone School/East Haven Academy,0441711,Secondary,2014-15,34.000000
5687,1530011,Watertown,1535111.0,Swift Middle School,Algebra I,3,31.0,Swift Middle School,1535111,Secondary,2014-15,31.000000
2667,0770011,Manchester School District,NaN,NaN,Life and Physical Sciences - Proficiency Devel...,1,29.0,New Horizons,0770711,Secondary,2014-15,30.666667
2666,0770011,Manchester School District,NaN,NaN,General Math,1,31.0,New Horizons,0770711,Secondary,2014-15,30.666667
2665,0770011,Manchester School District,770711.0,New Horizons,English/Literature (juniors and seniors),1,32.0,New Horizons,0770711,Secondary,2014-15,30.666667
7267,2690013,The Bridge Academy District,NaN,NaN,World History - Overview,2,25.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7254,2690013,The Bridge Academy District,NaN,NaN,Civics,2,22.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7251,2690013,The Bridge Academy District,NaN,NaN,Assisted Reading,1,135.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7252,2690013,The Bridge Academy District,NaN,NaN,Biology,2,22.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7266,2690013,The Bridge Academy District,NaN,NaN,U.S. History - Comprehensive,2,20.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7250,2690013,The Bridge Academy District,NaN,NaN,Algebra II,2,20.0,The Bridge Academy,2696113,Secondary,2014-15,23.918919
7253,2690013,The Bridge Academy District,NaN,NaN,Chemistry,2,20.5,The Bridge Academy,2696113,Secondary,2014-15,23.918919
...,...,...,...,...,...,...,...,...,...,...,...,...
3222,0910011,New Fairfield School District,NaN,NaN,English/Language Arts IV (12th grade),1,7.0,Alternative Learning Center,0910311,Secondary,2014-15,6.500000
3221,0910011,New Fairfield School District,910311.0,Alternative Learning Center,Algebra II,1,6.0,Alternative Learning Center,0910311,Secondary,2014-15,6.500000
1697,0540011,Glastonbury School District,NaN,NaN,English/Composition (juniors and seniors),1,6.0,LINKS Academy,0540111,Secondary,2014-15,6.500000
1696,0540011,Glastonbury School District,540111.0,LINKS Academy,Contemporary U.S. Issues,1,7.0,LINKS Academy,0540111,Secondary,2014-15,6.500000
2875,None,Milford School District,846161.0,Woodhouse Academy,Geometry,1,6.0,Woodhouse Academy,0846161,Secondary,2014-15,6.500000
2876,None,Milford School District,NaN,NaN,Unified Science,1,7.0,Woodhouse Academy,0846161,Secondary,2014-15,6.500000
1329,0450011,East Lyme School District,NaN,NaN,English/Language Arts IV (12th grade),1,6.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1328,0450011,East Lyme School District,NaN,NaN,English/Language Arts III (11th grade),1,6.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1327,0450011,East Lyme School District,NaN,NaN,English/Language Arts I (9th grade),1,7.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1326,0450011,East Lyme School District,450611.0,Coastal Connections,Algebra I,1,6.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1330,0450011,East Lyme School District,NaN,NaN,Integrated Science,1,7.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1332,0450011,East Lyme School District,NaN,NaN,World History - Overview,1,7.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
1331,0450011,East Lyme School District,NaN,NaN,Modern U.S. History,1,6.0,Coastal Connections,0450611,Secondary,2014-15,6.428571
3173,0890011,New Britain School District,899011.0,New Britain Transition Center,Civics,2,6.0,New Britain Transition Center,0899011,Secondary,2014-15,6.000000
818,0280011,Colchester,NaN,NaN,U.S. History - Comprehensive,1,6.0,Bacon Academy Alternative Education,0280511,Secondary,2014-15,6.000000
552,0150011,Bridgeport School District,NaN,NaN,U.S. History - Comprehensive,1,6.0,Bridgeport Learning Center,0159011,Secondary,2014-15,6.000000
551,0150011,Bridgeport School District,159011.0,Bridgeport Learning Center,Environmental Science,1,6.0,Bridgeport Learning Center,0159011,Secondary,2014-15,6.000000
1265,None,East Haven School District,NaN,NaN,World History - Overview,1,6.0,Pathways,0440221,Secondary,2014-15,6.000000
817,0280011,Colchester,280511.0,Bacon Academy Alternative Education,Mathematics - Other,1,6.0,Bacon Academy Alternative Education,0280511,Secondary,2014-15,6.000000
2018,None,Hamden School District,NaN,NaN,U.S. History - Comprehensive,1,6.0,Cedarhurst School,0620261,Secondary,2014-15,6.000000
2017,None,Hamden School District,620261.0,Cedarhurst School,Chemistry,1,6.0,Cedarhurst School,0620261,Secondary,2014-15,6.000000
1264,None,East Haven School District,440221.0,Pathways,Anthropology,1,6.0,Pathways,0440221,Secondary,2014-15,6.000000
7107,2440014,Area Cooperative Educational Services,2449114.0,Whitney High School North,AP Human Geography,3,6.0,Whitney High School North,2449114,Secondary,2014-15,6.000000
7108,2440014,Area Cooperative Educational Services,NaN,NaN,IB Geography,3,6.0,Whitney High School North,2449114,Secondary,2014-15,6.000000
7109,2440014,Area Cooperative Educational Services,NaN,NaN,Integrated Math - multi-year equivalent,2,6.0,Whitney High School North,2449114,Secondary,2014-15,6.000000
7110,2440014,Area Cooperative Educational Services,NaN,NaN,Integrated Science,2,6.0,Whitney High School North,2449114,Secondary,2014-15,6.000000
4093,None,Norwich School District,1040721.0,Natchaug Hospital School Joshua Center Thames ...,U.S. History - Comprehensive,1,6.0,Natchaug Hospital School Joshua Center Thames ...,1040721,Secondary,2014-15,6.000000
5000,None,Stratford School District,1380121.0,IPPI ACADEMY,Strategic Reading,1,6.0,IPPI ACADEMY,1380121,Secondary,2014-15,6.000000
6135,None,Windham School District,1630661.0,Natchaug Hospital School CDT-Willimantic,U.S. History - Comprehensive,1,6.0,Natchaug Hospital School CDT-Willimantic,1630661,Secondary,2014-15,6.000000
2600,None,Madison School District,760161.0,Grove School,Pre-Calculus,1,6.0,Grove School,0760161,Secondary,2014-15,6.000000

In [131]:
elem_school_detail_df = get_school(level="elementary")
elem_school_detail_df

,district_code,district_name,facility1code,facility_name,grade,n,mean,school,school_code,level,year,w_avg
0,0010011,Andover School District,10111.0,Andover Elementary School,1,2,15.000000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
1,0010011,Andover School District,NaN,NaN,2,3,13.333333,Andover Elementary School,0010111,Elementary,2014-15,16.235294
2,0010011,Andover School District,NaN,NaN,3,2,17.500000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
3,0010011,Andover School District,NaN,NaN,4,2,15.500000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
4,0010011,Andover School District,NaN,NaN,5,3,15.333333,Andover Elementary School,0010111,Elementary,2014-15,16.235294
5,0010011,Andover School District,NaN,NaN,6,2,20.500000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
6,0010011,Andover School District,NaN,NaN,KG,2,12.000000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
7,0010011,Andover School District,NaN,NaN,PK,1,29.000000,Andover Elementary School,0010111,Elementary,2014-15,16.235294
8,0020011,Ansonia School District,20311.0,Mead School,1,4,20.500000,Mead School,0020311,Elementary,2014-15,23.678571
9,0020011,Ansonia School District,NaN,NaN,2,4,22.000000,Mead School,0020311,Elementary,2014-15,23.678571
10,0020011,Ansonia School District,NaN,NaN,3,4,24.000000,Mead School,0020311,Elementary,2014-15,23.678571
11,0020011,Ansonia School District,NaN,NaN,4,4,26.500000,Mead School,0020311,Elementary,2014-15,23.678571
12,0020011,Ansonia School District,NaN,NaN,5,4,23.750000,Mead School,0020311,Elementary,2014-15,23.678571
13,0020011,Ansonia School District,NaN,NaN,6,4,24.750000,Mead School,0020311,Elementary,2014-15,23.678571
14,0020011,Ansonia School District,NaN,NaN,KG,4,24.250000,Mead School,0020311,Elementary,2014-15,23.678571
15,0020011,Ansonia School District,20811.0,Prendergast School,1,6,20.833333,Prendergast School,0020811,Elementary,2014-15,22.968750
16,0020011,Ansonia School District,NaN,NaN,2,4,25.500000,Prendergast School,0020811,Elementary,2014-15,22.968750
17,0020011,Ansonia School District,NaN,NaN,3,4,23.750000,Prendergast School,0020811,Elementary,2014-15,22.968750
18,0020011,Ansonia School District,NaN,NaN,4,4,24.000000,Prendergast School,0020811,Elementary,2014-15,22.968750
19,0020011,Ansonia School District,NaN,NaN,5,4,23.750000,Prendergast School,0020811,Elementary,2014-15,22.968750
20,0020011,Ansonia School District,NaN,NaN,6,4,22.750000,Prendergast School,0020811,Elementary,2014-15,22.968750
21,0020011,Ansonia School District,NaN,NaN,KG,6,21.833333,Prendergast School,0020811,Elementary,2014-15,22.968750
22,0020011,Ansonia School District,25111.0,Ansonia Middle School,7,35,20.685714,Ansonia Middle School,0025111,Elementary,2014-15,21.171053
23,0020011,Ansonia School District,NaN,NaN,8,39,22.000000,Ansonia Middle School,0025111,Elementary,2014-15,21.171053
24,0020011,Ansonia School District,NaN,NaN,PK,2,13.500000,Ansonia Middle School,0025111,Elementary,2014-15,21.171053
25,0030011,Ashford School District,30111.0,Ashford School,1,3,14.000000,Ashford School,0030111,Elementary,2014-15,14.604167
26,0030011,Ashford School District,NaN,NaN,2,2,16.000000,Ashford School,0030111,Elementary,2014-15,14.604167
27,0030011,Ashford School District,NaN,NaN,3,2,14.500000,Ashford School,0030111,Elementary,2014-15,14.604167
28,0030011,Ashford School District,NaN,NaN,4,3,13.666667,Ashford School,0030111,Elementary,2014-15,14.604167
29,0030011,Ashford School District,NaN,NaN,5,3,12.666667,Ashford School,0030111,Elementary,2014-15,14.604167
...,...,...,...,...,...,...,...,...,...,...,...,...
4458,2880013,Achievement First Hartford Academy Inc. District,2880113.0,Achievement First Hartford Academy Inc.,1,4,24.750000,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4459,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,2,14,19.142857,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4460,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,3,5,22.800000,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4461,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,4,20,20.800000,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4462,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,5,26,30.615385,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4463,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,6,7,27.285714,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4464,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,8,6,22.000000,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4465,2880013,Achievement First Hartford Academy Inc. District,NaN,NaN,KG,4,25.000000,Achievement First Hartford Academy Inc.,2880113,Elementary,2014-15,24.604651
4466,2890013,Elm City College Preparatory School District,2890113.0,Elm City College Preparatory School,2,7,27.857143,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4467,2890013,Elm City College Preparatory School District,NaN,NaN,3,4,29.500000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4468,2890013,Elm City College Preparatory School District,NaN,NaN,4,1,29.000000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4469,2890013,Elm City College Preparatory School District,NaN,NaN,5,4,31.000000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4470,2890013,Elm City College Preparatory School District,NaN,NaN,6,2,30.000000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4471,2890013,Elm City College Preparatory School District,NaN,NaN,7,4,29.250000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4472,2890013,Elm City College Preparatory School District,NaN,NaN,8,6,24.500000,Elm City College Preparatory School,2890113,Elementary,2014-15,28.214286
4473,2900013,Brass City Charter School District,2900113.0,Brass City Charter School,1,3,13.000000,Brass City Charter School,2900113,Elementary,2014-15,13.888889
4474,2900013,Brass City Charter School District,NaN,NaN,2,3,12.666667,Brass City Charter School,2900113,Elementary,2014-15,13.888889
4475,2900013,Brass City Charter School District,NaN,NaN,KG,1,14.000000,Brass City Charter School,2900113,Elementary,2014-15,13.888889
4476,2900013,Brass City Charter School District,NaN,NaN,PK,2,17.000000,Brass City Charter School,2900113,Elementary,2014-15,13.888889
4477,2910013,Elm City Montessori School District,2910113.0,Elm City Montessori School,KG,1,6.000000,Elm City Montessori School,2910113,Elementary,2014-15,14.000000
4478,2910013,Elm City Montessori School District,NaN,NaN,PK,3,16.666667,Elm City Montessori School,2910113,Elementary,2014-15,14.000000
4479,2940013,Great Oaks Charter School District,2940113.0,Great Oaks Charter School,6,20,24.350000,Great Oaks Charter School,2940113,Elementary,2014-15,24.350000
4480,2950013,Booker T. Washington Academy District,2950113.0,Booker T. Washington Academy,1,3,13.000000,Booker T. Washington Academy,2950113,Elementary,2014-15,15.333333
4481,2950013,Booker T. Washington Academy District,NaN,NaN,KG,3,17.666667,Booker T. Washington Academy,2950113,Elementary,2014-15,15.333333
4482,3470015,Unified School District #2,3470115.0,Children's Place School,8,2,6.500000,Children's Place School,3470115,Elementary,2014-15,6.500000
4483,3470015,Unified School District #2,3470315.0,Riverview School,8,6,8.500000,Riverview School,3470315,Elementary,2014-15,8.500000
4484,3470015,Unified School District #2,3476715.0,Walter G. Cady School,8,3,7.666667,Walter G. Cady School,3476715,Elementary,2014-15,7.666667
4485,9020022,The Gilbert School District,9026122.0,The Gilbert School,7,24,18.916667,The Gilbert School,9026122,Elementary,2014-15,19.813953
4486,9020022,The Gilbert School District,NaN,NaN,8,19,20.947368,The Gilbert School,9026122,Elementary,2014-15,19.813953
4487,None,Generic in state,9990399.0,Generic PreKindergarten Program,PK,1,10.000000,Generic PreKindergarten Program,9990399,Elementary,2014-15,10.000000

In [132]:
subj_cache = {}

def get_state_subject_mean(subject,level="Secondary"):
    
    if level not in subj_cache:
        subj_cache[level] = {}
        
    if subject in subj_cache[level]:
        return subj_cache[level][subject]
        
    df = state_dfs[level]
    
    matches = df[df["ncescoursename"].str.upper() == subject.upper()]
    
    if len(matches) != 1:
        print "Error: Match count (" + str(len(matches)) + ") for '" + subject + "'"
        return 
    
    ret = float(matches["mean"]),int(matches["n"])
    
    if subject not in subj_cache[level]:
        subj_cache[level][subject] = ret
    #print matches
    
    return ret
    
    
get_state_subject_mean("AP Biology")

(16.5613208, 212)

In [133]:
def hs_add_state_subject_mean(df):
    
    level = "Secondary"
    ret = df.copy()
    def add_st_mean_n(row):
        #print row
        return get_state_subject_mean(row["ncescoursename"],level=level)
        
    ret["state_mean"] = ret["ncescoursename"].apply(lambda x: get_state_subject_mean(x,level=level)[0])
    ret["state_n"] = ret["ncescoursename"].apply(lambda x: get_state_subject_mean(x,level=level)[1])
    
    return ret
    
        
hs = hs_add_state_subject_mean(high_school_detail_df)
hs.head()

,district_code,district_name,facility1code,facility_name,ncescoursename,n,mean,school,school_code,level,year,w_avg,state_mean,state_n
0,0020011,Ansonia School District,20111.0,P.A.C.E. (Positive And Creative Education),Algebra II,1,7.0,P.A.C.E. (Positive And Creative Education),0020111,Secondary,2014-15,7.928571,20.364433,1597
1,0020011,Ansonia School District,NaN,NaN,Biology - Other,2,9.0,P.A.C.E. (Positive And Creative Education),0020111,Secondary,2014-15,7.928571,17.236111,72
2,0020011,Ansonia School District,NaN,NaN,Civics,1,8.0,P.A.C.E. (Positive And Creative Education),0020111,Secondary,2014-15,7.928571,19.912409,822
3,0020011,Ansonia School District,NaN,NaN,Contemporary U.S. Issues,1,7.0,P.A.C.E. (Positive And Creative Education),0020111,Secondary,2014-15,7.928571,15.566038,53
4,0020011,Ansonia School District,NaN,NaN,English/Composition (juniors and seniors),1,7.0,P.A.C.E. (Positive And Creative Education),0020111,Secondary,2014-15,7.928571,19.425287,87

In [134]:
def es_get_grade_mean(grade):
    matches = elem_state[elem_state["grade"] == grade]
    
    if len(matches) != 1:
        print "Error: " + str(len(matches)) + " matches found for grade " + str(grade)
        return
    
    return float(matches["mean"]), float(matches["n"])
    
es_get_grade_mean(1)   
es_get_grade_mean("PK")

(16.0950872, 1262.0)

In [135]:
def es_add_state_grad_mean(df):
    
    ret = df.copy()
    ret["state_mean"] = ret["grade"].apply(lambda x:es_get_grade_mean(x)[0])
    ret["state_n"] = ret["grade"].apply(lambda x:es_get_grade_mean(x)[1])

    return ret

es = es_add_state_grad_mean(elem_school_detail_df)
es.head()

,district_code,district_name,facility1code,facility_name,grade,n,mean,school,school_code,level,year,w_avg,state_mean,state_n
0,0010011,Andover School District,10111.0,Andover Elementary School,1,2,15.000000,Andover Elementary School,0010111,Elementary,2014-15,16.235294,19.539417,5150.0
1,0010011,Andover School District,NaN,NaN,2,3,13.333333,Andover Elementary School,0010111,Elementary,2014-15,16.235294,20.556101,5089.0
2,0010011,Andover School District,NaN,NaN,3,2,17.500000,Andover Elementary School,0010111,Elementary,2014-15,16.235294,20.932764,4804.0
3,0010011,Andover School District,NaN,NaN,4,2,15.500000,Andover Elementary School,0010111,Elementary,2014-15,16.235294,21.394477,5070.0
4,0010011,Andover School District,NaN,NaN,5,3,15.333333,Andover Elementary School,0010111,Elementary,2014-15,16.235294,20.907808,5597.0

In [136]:
print len(es[es["school_code"].isnull()])
print len(es[es["school_code"].notnull()])

0
4488

In [137]:
print len(hs[hs["school_code"].isnull()])
print len(hs[hs["school_code"].notnull()])

0
7971

In [150]:
def unify():
    global es, hs
    
    #print "cleaning es"
    #print es.columns
    
    es_copy = es[["district_code","district_name","school_code","school","grade","level","mean","n","state_mean","state_n","year"]]
    es_copy.columns = ["district_code","district_name","school_code","school","subject",
                       "school_level","mean","n","state_mean","state_n","year"]
    
    #print "cleaning hs"
    #print hs.columns

    hs_copy = hs[["district_code","district_name","school_code","school","ncescoursename","level","mean","n","state_mean","state_n","year"]]
    hs_copy.columns = ["district_code","district_name","school_code","school","subject",
                       "school_level","mean","n","state_mean","state_n","year"]
    
    ret = pd.concat([es_copy,hs_copy])
    ret["mean"] = ret["mean"].apply(lambda x: round(x)).astype(int)
    ret["state_mean"] = ret["state_mean"].apply(lambda x: round(x)).astype(int)
    
    #ret = ret.sort_values(by="subject")
    return ret

mf = unify()
mf[mf["school"] == "Bethel High School"]

,district_code,district_name,school_code,school,subject,school_level,mean,n,state_mean,state_n,year
159,0090011,Bethel School District,0096111,Bethel High School,AP Biology,Secondary,15,1,17,212.0,2014-15
160,0090011,Bethel School District,0096111,Bethel High School,AP Calculus AB,Secondary,21,2,17,206.0,2014-15
161,0090011,Bethel School District,0096111,Bethel High School,AP Calculus BC,Secondary,16,1,17,73.0,2014-15
162,0090011,Bethel School District,0096111,Bethel High School,AP English Language and Composition,Secondary,25,1,19,310.0,2014-15
163,0090011,Bethel School District,0096111,Bethel High School,AP English Literature and Composition,Secondary,9,1,17,272.0,2014-15
164,0090011,Bethel School District,0096111,Bethel High School,AP Environmental Science,Secondary,14,1,17,110.0,2014-15
165,0090011,Bethel School District,0096111,Bethel High School,AP European History,Secondary,10,1,16,82.0,2014-15
166,0090011,Bethel School District,0096111,Bethel High School,AP Human Geography,Secondary,20,2,19,28.0,2014-15
167,0090011,Bethel School District,0096111,Bethel High School,AP Physics B,Secondary,17,3,19,143.0,2014-15
168,0090011,Bethel School District,0096111,Bethel High School,AP Psychology,Secondary,20,3,21,275.0,2014-15
169,0090011,Bethel School District,0096111,Bethel High School,AP Statistics,Secondary,14,2,19,180.0,2014-15
170,0090011,Bethel School District,0096111,Bethel High School,AP U.S. History,Secondary,19,3,18,270.0,2014-15
171,0090011,Bethel School District,0096111,Bethel High School,Algebra I,Secondary,26,5,19,1386.0,2014-15
172,0090011,Bethel School District,0096111,Bethel High School,Algebra II,Secondary,22,9,20,1597.0,2014-15
173,0090011,Bethel School District,0096111,Bethel High School,American Literature/History,Secondary,21,4,17,61.0,2014-15
174,0090011,Bethel School District,0096111,Bethel High School,Anatomy and Physiology,Secondary,22,2,19,291.0,2014-15
175,0090011,Bethel School District,0096111,Bethel High School,Assisted Reading,Secondary,8,1,10,140.0,2014-15
176,0090011,Bethel School District,0096111,Bethel High School,Astronomy,Secondary,23,2,20,75.0,2014-15
177,0090011,Bethel School District,0096111,Bethel High School,Biology,Secondary,18,12,20,1889.0,2014-15
178,0090011,Bethel School District,0096111,Bethel High School,Calculus,Secondary,17,2,19,185.0,2014-15
179,0090011,Bethel School District,0096111,Bethel High School,Chemistry,Secondary,18,11,21,1368.0,2014-15
180,0090011,Bethel School District,0096111,Bethel High School,Civics,Secondary,12,1,20,822.0,2014-15
181,0090011,Bethel School District,0096111,Bethel High School,Composition,Secondary,9,1,17,106.0,2014-15
182,0090011,Bethel School District,0096111,Bethel High School,Contemporary World Issues,Secondary,20,5,19,123.0,2014-15
183,0090011,Bethel School District,0096111,Bethel High School,Corrective Reading,Secondary,8,1,10,76.0,2014-15
184,0090011,Bethel School District,0096111,Bethel High School,Creative Writing,Secondary,11,1,19,145.0,2014-15
185,0090011,Bethel School District,0096111,Bethel High School,English Language and Literature - Other,Secondary,11,1,18,135.0,2014-15
186,0090011,Bethel School District,0096111,Bethel High School,English/Language Arts I (9th grade),Secondary,17,12,19,1684.0,2014-15
187,0090011,Bethel School District,0096111,Bethel High School,English/Language Arts II (10th grade),Secondary,23,9,20,1457.0,2014-15
188,0090011,Bethel School District,0096111,Bethel High School,English/Language Arts III (11th grade),Secondary,19,10,20,902.0,2014-15
189,0090011,Bethel School District,0096111,Bethel High School,English/Language Arts IV (12th grade),Secondary,22,10,20,627.0,2014-15
190,0090011,Bethel School District,0096111,Bethel High School,Environmental Science,Secondary,22,1,18,289.0,2014-15
191,0090011,Bethel School District,0096111,Bethel High School,General Applied Math,Secondary,16,3,13,69.0,2014-15
192,0090011,Bethel School District,0096111,Bethel High School,General Math,Secondary,11,2,13,242.0,2014-15
193,0090011,Bethel School District,0096111,Bethel High School,Geometry,Secondary,23,6,20,1660.0,2014-15
194,0090011,Bethel School District,0096111,Bethel High School,Law Studies,Secondary,24,2,17,89.0,2014-15
195,0090011,Bethel School District,0096111,Bethel High School,Life and Physical Sciences - Other,Secondary,24,1,17,115.0,2014-15
196,0090011,Bethel School District,0096111,Bethel High School,Mathematics - Other,Secondary,10,1,16,140.0,2014-15
197,0090011,Bethel School District,0096111,Bethel High School,Mathematics Proficiency Development,Secondary,8,1,11,71.0,2014-15
198,0090011,Bethel School District,0096111,Bethel High School,Modern European History,Secondary,16,1,21,74.0,2014-15
199,0090011,Bethel School District,0096111,Bethel High School,Multivariate Calculus,Secondary,6,1,15,10.0,2014-15
200,0090011,Bethel School District,0096111,Bethel High School,Particular Topics in U.S. History,Secondary,9,1,20,43.0,2014-15
201,0090011,Bethel School District,0096111,Bethel High School,Physics,Secondary,18,10,20,581.0,2014-15
202,0090011,Bethel School District,0096111,Bethel High School,Pre-Algebra,Secondary,14,1,18,153.0,2014-15
203,0090011,Bethel School District,0096111,Bethel High School,Pre-Calculus,Secondary,20,9,20,867.0,2014-15
204,0090011,Bethel School District,0096111,Bethel High School,Probability and Statistics,Secondary,13,2,19,219.0,2014-15
205,0090011,Bethel School District,0096111,Bethel High School,Psychology,Secondary,18,2,21,309.0,2014-15
206,0090011,Bethel School District,0096111,Bethel High School,"Science, Technology and Society",Secondary,16,6,18,33.0,2014-15
207,0090011,Bethel School District,0096111,Bethel High School,Social Sciences and History - Other,Secondary,16,1,19,54.0,2014-15
208,0090011,Bethel School District,0096111,Bethel High School,Sociology,Secondary,31,1,20,136.0,2014-15
209,0090011,Bethel School District,0096111,Bethel High School,Strategic Reading,Secondary,10,2,12,227.0,2014-15
210,0090011,Bethel School District,0096111,Bethel High School,Trigonometry,Secondary,18,4,18,84.0,2014-15
211,0090011,Bethel School District,0096111,Bethel High School,U.S. History - Comprehensive,Secondary,21,7,20,882.0,2014-15
212,0090011,Bethel School District,0096111,Bethel High School,World History - Overview,Secondary,19,22,20,1125.0,2014-15

In [144]:
mf.to_csv("../clean/for_db/class_size.csv", index=False)