In [1]:
import pandas as pd, re
import getschools as gs

In [13]:
# files look like collegeEntrancePersistence-all.csv

srcdir = "../scripts/noequals/"
dstdir = "../clean/csv/"
def fname(group):
    return "collegeEntrancePersistence-" + group + ".csv"

def get_df(group):
    global srcdir
    ret = pd.read_csv(srcdir + fname(group), skiprows=7,header=None)

    ret = gs.merge_01(ret)
    
    ret = gs.clean_colnames(ret)
    
    ret["district_code"] = ret["district_code"].str.replace("\"","")
        
    ret["school_code"] = ret["school_code"].str.replace("\"","")
    
    def remove_trail(s):
        if (s[-1] == "_"):
            return s[:-1]
        return s
    
    ret.columns = map(remove_trail, ret.columns)

    ret["group"] = group
    
    ret.to_csv(dstdir + fname(group),index=False)
    return ret

get_df("all").head()

,district,district_code,school,school_code,2009_10_entrance_pct,2009_10_persistence_pct,2010_11_entrance_pct,2010_11_persistence_pct,2011_12_entrance_pct,2011_12_persistence_pct,2012_13_entrance_pct,2012_13_persistence_pct,2013_14_entrance_pct,2013_14_persistence_pct,group
2,Ansonia School District,0020011,Ansonia High School,0026111,67.1,88.0,61.0,87.2,62.1,85.2,58.0,78.2,59.4,78.5,all
3,Avon School District,0040011,Avon High School,0046111,81.8,96.9,84.3,95.2,86.4,95.0,86.8,94.2,88.2,95.0,all
4,Berlin School District,0070011,Berlin High School,0076111,75.7,94.4,83.5,92.3,81.7,93.2,82.5,95.8,88.1,92.0,all
5,Bethel School District,0090011,Bethel High School,0096111,78.3,89.4,81.1,90.7,77.9,92.8,70.6,91.3,77.7,85.6,all
6,Bloomfield School District,0110011,Bloomfield High School,0116111,66.0,79.4,76.3,84.9,66.2,74.5,68.2,84.1,73.2,81.1,all

In [15]:
groups = ["all","ell","frpl",
          "gender","race","sped"]

for g in groups:
    get_df(g)