In [1]:
import pandas as pd
import numpy as np
import getschools as gs

In [25]:
def get_df():
    
    ret = pd.read_excel("../raw/CCJEF trial excel teachers.xlsx",
                        sheetname="Sheet4",skiprows=1)
    
    ret = ret[ret["District Name"].str.contains("Total")]
    
    ret = gs.clean_colnames(ret)
    
    ret["district"] = ret["district_name"].apply(lambda x: x.strip().replace(" Total",""))
    
    ret = gs.add_district_matches(ret)
                                             
    ret["district_code"] = ret["dist_code"]
    
    ret = ret[["district_code","district","grand_total"]]
    
    ret = gs.add_drg(ret)
    
    return ret

get_df().sort_values(by="grand_total",ascending=False).to_csv("../clean/for_db/teacher_compensation_ccjef.csv",index=False)

,district_code,district,grand_total,drg
62,0570011,Greenwich School District,86721.74316,B
107,1030011,Norwalk School District,85443.38986,H
123,1170011,Redding School District,84491.21951,A
187,1610011,Wilton School District,84140.54542,A
89,0850011,Monroe School District,81538.09005,B
183,1570011,Weston School District,81453.70061,A
6,0040011,Avon School District,80123.66197,B
130,2090012,Regional School District 09,79759.33333,A
94,0900011,New Canaan School District,79662.70323,A
171,None,Unified School District #1,79165.64356,None
158,1350011,Stamford School District,79046.31554,H
93,0890011,New Britain School District,78534.54162,I
184,1580011,Westport School District,78447.42282,A
141,1180011,Ridgefield School District,77510.11429,A
178,1520011,Waterford School District,77381.42553,D
38,0350011,Darien School District,75990.29619,A
193,1670011,Woodbridge School District,75495.27586,B
170,1440011,Trumbull School District,75175.23721,B
17,0170011,Bristol School District,74802.17970,G
100,0940011,Newington School District,74488.70370,D
57,0510011,Fairfield School District,74114.72881,B
25,0250011,Cheshire School District,74066.59574,B
185,1590011,Wethersfield School District,73884.67391,D
43,0420011,East Hampton School District,73364.48361,D
151,1280011,Simsbury School District,73349.74426,B
161,1380011,Stratford School District,73331.08257,G
153,1320011,South Windsor School District,73244.37716,B
176,1480011,Wallingford School District,72921.49537,D
148,1260011,Shelton School District,72747.67327,D
142,1190011,Rocky Hill School District,72742.14706,D
...,...,...,...,...
56,2720013,Explorations District,57055.00000,None
5,0030011,Ashford School District,56571.79487,E
1,2790013,Amistad Academy District,56243.54667,None
20,0210011,Canaan School District,56128.28571,E
9,0080011,Bethany School District,55983.76316,C
3,0020011,Ansonia School District,55331.25000,H
145,1230011,Scotland School District,55306.00000,E
132,2110012,Regional School District 11,54806.50000,F
33,2430014,Cooperative Educational Services,53995.56863,None
92,None,New Beginnings Inc. Family Academy District,53750.70370,None
72,2640013,Integrated Day Charter School District,53694.61905,None
77,2450014,Learn,53658.28070,None
157,None,Stamford Academy,53302.33333,None
102,0980011,Norfolk School District,52856.00000,E
0,None,Achievement First Hartford Academy Inc.,52769.50000,None
155,1330011,Sprague School District,52759.48000,F
159,1360011,Sterling School District,52440.87879,F
114,None,Park City Prep Charter School,52400.00000,None
121,None,Project Oceanology,50882.16667,None
73,2650013,Interdistrict School for Arts and Comm District,50551.20000,None
51,None,Education Connection,50295.80000,None
53,None,Elm City College Preparatory School,49414.05000,None
71,2860013,Highville Charter School District,49309.37037,None
110,2630013,Odyssey Community School District,49296.00000,None
15,None,Bridgeport Achievement First,48332.93878,None
29,0290011,Colebrook School District,48025.18182,E
173,1450011,Union School District,43249.22222,E
31,2680013,Common Ground High School District,41118.31579,None
48,None,Eastern Connecticut Regional Educational Servi...,39018.02941,None
172,None,Unified School District #2,20321.70833,None

In [26]:
get_df()[get_df()["district"].str.contains("State")]

    district_code district  grand_total   drg
196          None    State  68786.73711  None

In [27]:
get_df()["grand_total"].median()

65121.3125

In [28]:
get_df()["grand_total"].mean()

64989.412536395932

In [33]:
len(get_df()[get_df()["district_code"].isnull()])

15

In [34]:
len(get_df()[get_df()["district_code"].notnull()])

182

In [42]:
def drg_report():
    df = get_df()
    
    df = df.groupby("drg").agg({"grand_total":np.median}).reset_index()
    
    return df

drg_report()#.to_csv("../clean/for_db/drg_teacher_compensation_ccjef",index=False)

  drg   grand_total
0   A  79662.703230
1   B  71772.560280
2   C  64867.747545
3   D  67826.620525
4   E  63440.823205
5   F  63686.005680
6   G  64659.694740
7   H  70578.395200
8   I  61782.333330

In [43]:
def state_report():
    df = get_df()
    df = df[df["district"] == "State"]
    
    return df

state_report()#.to_csv("../clean/for_db/state_teacher_compensation_ccjef",index=False)

    district_code district  grand_total   drg
196          None    State  68786.73711  None

In [51]:
state_grand_total = float(state_report()["grand_total"])
state_grand_total

68786.73711

In [47]:
drg_df = drg_report()
state_df = state_report()

In [53]:
def get_drg_total(drg):    
    if drg is None: 
        return
    
    return float(drg_df[drg_df["drg"] == drg]["grand_total"])

get_drg_total("A")

79662.70323

In [58]:
def combined_df():
    df = get_df()
    
    df["drg_grand_total"] = df["drg"].apply(get_drg_total)
    df["state_grand_total"] = state_grand_total
    df["school_code"] = df["district_code"]
    return df

combined = combined_df()
combined

,district_code,district,grand_total,drg,drg_grand_total,state_grand_total,school_code
0,None,Achievement First Hartford Academy Inc.,52769.50000,None,NaN,68786.73711,None
1,2790013,Amistad Academy District,56243.54667,None,NaN,68786.73711,2790013
2,0010011,Andover School District,59970.76923,C,64867.747545,68786.73711,0010011
3,0020011,Ansonia School District,55331.25000,H,70578.395200,68786.73711,0020011
4,2440014,Area Cooperative Educational Services,67315.08403,None,NaN,68786.73711,2440014
5,0030011,Ashford School District,56571.79487,E,63440.823205,68786.73711,0030011
6,0040011,Avon School District,80123.66197,B,71772.560280,68786.73711,0040011
7,0050011,Barkhamsted School District,67363.52174,C,64867.747545,68786.73711,0050011
8,0070011,Berlin School District,69066.94686,D,67826.620525,68786.73711,0070011
9,0080011,Bethany School District,55983.76316,C,64867.747545,68786.73711,0080011
10,0090011,Bethel School District,65158.45771,D,67826.620525,68786.73711,0090011
11,0110011,Bloomfield School District,63843.14595,G,64659.694740,68786.73711,0110011
12,0120011,Bolton School District,64111.93750,C,64867.747545,68786.73711,0120011
13,0130011,Bozrah School District,65408.36842,E,63440.823205,68786.73711,0130011
14,0140011,Branford School District,68425.67068,D,67826.620525,68786.73711,0140011
15,None,Bridgeport Achievement First,48332.93878,None,NaN,68786.73711,None
16,0150011,Bridgeport School District,64103.01487,I,61782.333330,68786.73711,0150011
17,0170011,Bristol School District,74802.17970,G,64659.694740,68786.73711,0170011
18,0180011,Brookfield School District,70815.98361,B,71772.560280,68786.73711,0180011
19,0190011,Brooklyn School District,68185.50847,E,63440.823205,68786.73711,0190011
20,0210011,Canaan School District,56128.28571,E,63440.823205,68786.73711,0210011
21,0220011,Canterbury School District,63730.12821,F,63686.005680,68786.73711,0220011
22,0230011,Canton School District,64232.82569,C,64867.747545,68786.73711,0230011
23,2410014,Capitol Region Education Council,65441.36952,None,NaN,68786.73711,2410014
24,0240011,Chaplin School District,63901.88235,E,63440.823205,68786.73711,0240011
25,0250011,Cheshire School District,74066.59574,B,71772.560280,68786.73711,0250011
26,0260011,Chester School District,59282.04545,E,63440.823205,68786.73711,0260011
27,0270011,Clinton School District,67522.38621,D,67826.620525,68786.73711,0270011
28,0280011,Colchester School District,68130.85484,D,67826.620525,68786.73711,0280011
29,0290011,Colebrook School District,48025.18182,E,63440.823205,68786.73711,0290011
...,...,...,...,...,...,...,...
167,1420011,Tolland School District,65187.61326,C,64867.747545,68786.73711,1420011
168,1430011,Torrington School District,64659.69474,G,64659.694740,68786.73711,1430011
169,2780013,Trailblazers Academy District,60056.00000,None,NaN,68786.73711,2780013
170,1440011,Trumbull School District,75175.23721,B,71772.560280,68786.73711,1440011
171,None,Unified School District #1,79165.64356,None,NaN,68786.73711,None
172,None,Unified School District #2,20321.70833,None,NaN,68786.73711,None
173,1450011,Union School District,43249.22222,E,63440.823205,68786.73711,1450011
174,1460011,Vernon School District,64288.85714,G,64659.694740,68786.73711,1460011
175,1470011,Voluntown School District,58839.80769,F,63686.005680,68786.73711,1470011
176,1480011,Wallingford School District,72921.49537,D,67826.620525,68786.73711,1480011
177,1510011,Waterbury School District,61424.28357,I,61782.333330,68786.73711,1510011
178,1520011,Waterford School District,77381.42553,D,67826.620525,68786.73711,1520011
179,1530011,Watertown School District,66908.00000,D,67826.620525,68786.73711,1530011
180,1550011,West Hartford School District,67146.79586,B,71772.560280,68786.73711,1550011
181,1560011,West Haven School District,63507.60892,H,70578.395200,68786.73711,1560011
182,1540011,Westbrook School District,63492.38554,E,63440.823205,68786.73711,1540011
183,1570011,Weston School District,81453.70061,A,79662.703230,68786.73711,1570011
184,1580011,Westport School District,78447.42282,A,79662.703230,68786.73711,1580011
185,1590011,Wethersfield School District,73884.67391,D,67826.620525,68786.73711,1590011
186,1600011,Willington School District,63078.11905,E,63440.823205,68786.73711,1600011
187,1610011,Wilton School District,84140.54542,A,79662.703230,68786.73711,1610011
188,1620011,Winchester School District,71777.47500,G,64659.694740,68786.73711,1620011
189,1630011,Windham School District,58846.74888,I,61782.333330,68786.73711,1630011
190,1650011,Windsor Locks School District,70614.06107,F,63686.005680,68786.73711,1650011
191,1640011,Windsor School District,64324.89377,D,67826.620525,68786.73711,1640011
192,1660011,Wolcott School District,65810.44509,F,63686.005680,68786.73711,1660011
193,1670011,Woodbridge School District,75495.27586,B,71772.560280,68786.73711,1670011
194,None,Woodstock Academy,63370.81250,None,NaN,68786.73711,None
195,1690011,Woodstock School District,63287.52542,E,63440.823205,68786.73711,1690011
196,None,State,68786.73711,None,NaN,68786.73711,None

In [60]:
combined.to_csv("../clean/for_db/combined_compensation_grand_total.csv",index=False)