In [1]:
import pandas as pd, re
import getschools as gs

In [47]:
def get_sheet(yearstr, subgroup):
    
    ret = pd.read_csv("../scripts/brute/csv/EnrollmentYearExport-"+yearstr+"-"+subgroup+".csv")
    ret["year"] = yearstr
    
    ret["district_code"] = ret["district_code"].astype(str)
    ret["school_code"] = ret["school_code"].astype(str)
    
    ret["district_code"] = ret["district_code"].str.replace("\"","")
    ret["school_code"] = ret["school_code"].str.replace("\"","")

    ret["district_code"] = ret["district_code"].astype(str).str.zfill(7)
    ret["school_code"] = ret["school_code"].astype(str).str.zfill(7)

    #print "Adding " + str(len(ret.index)) + " rows"

    return ret

get_sheet("2013-14","ELL").head()

,school_code,district_code,district,school,no,yes,total,year
0,2880113,2880013,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,840,30,870,2013-14
1,2795113,2790013,Amistad Academy District,Amistad Academy,835,102,937,2013-14
2,0010111,0010011,Andover School District,Andover Elementary School,*,*,298,2013-14
3,0026111,0020011,Ansonia School District,Ansonia High School,589,13,602,2013-14
4,0025111,0020011,Ansonia School District,Ansonia Middle School,484,9,493,2013-14

In [48]:
years = map(lambda x: "20" + str(x).zfill(2) + "-" + str(x+1).zfill(2),range(7,17))

groups = {
    "ell":"ELL",
    "gender":"Gender",
    "grade":"Grade",
    "lunch":"Lunch",
    "race":"Race",
    "sped":"Special+Education+"
}

def make_trend(subgroup):
    
    sheets = []
    for y in years:
        sheets.append(get_sheet(y,subgroup))
    
    #return len(sheets)
    ret = pd.concat(sheets)
    
    return ret

for g in groups:
    make_trend(groups[g]).to_csv("../clean/enrollment-trend-" + g + ".csv",
                                 index=False)

####