In [23]:
import pandas as pd, re
import numpy as np
import getschools as gs

In [24]:
THE_YEAR="2017"
THE_FYEAR="2016-17"

In [40]:
fyear = lambda x: str(int(x)-1) + "-" + str(int(x) - 2000)
fyear("2017")

'2016-17'

In [25]:
def get_df(group,year):
    ret = pd.read_csv("../scripts/noequals/CTSchoolDaySAT-"+group+"-" + year +".csv",skiprows=2,header=None)
    ret = gs.merge_01(ret)
    ret = gs.clean_colnames(ret)
    
    ret["district_code"] = ret["district_code"].str.replace("\"","")
    ret["school_code"] = ret["school_code"].str.replace("\"","")
    
    ret["year"] = fyear(year)
    
    ret = gs.add_drg(ret)
    ret["average_score"] = ret["level_3_4met_or_exceeded_averagescore"]
    return ret

get_df("all","2017")

,district,district_code,school,school_code,subject,total_numberof_students,total_numbertested,connecticut_school_day_satparticipationrate,total_numberwith_scored_tests,level_1not_met_count,...,level_3met_count,level_3met_pct,level_4exceeded_count,level_4exceeded_pct,level_3_4met_or_exceeded_count,level_3_4met_or_exceeded_pct,level_3_4met_or_exceeded_averagescore,year,drg,average_score
2,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,ELA,39,39,100.0,39,*,...,22,56.4,*,*,*,*,488,2016-17,None,488
3,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,Math,39,39,100.0,38,*,...,13,34.2,*,*,*,*,494,2016-17,None,494
4,Amistad Academy District,2790013,Amistad Academy,2795113,ELA,50,48,96.0,47,*,...,33,70.2,*,*,*,*,511,2016-17,None,511
5,Amistad Academy District,2790013,Amistad Academy,2795113,Math,50,48,96.0,47,10,...,9,19.1,0,0.0,9,19.1,467,2016-17,None,467
6,Ansonia School District,0020011,Ansonia High School,0026111,ELA,124,119,96.0,119,33,...,50,42.0,11,9.2,61,51.3,482,2016-17,H,482
7,Ansonia School District,0020011,Ansonia High School,0026111,Math,124,119,96.0,119,52,...,*,*,*,*,21,17.6,447,2016-17,H,447
8,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,ELA,8,6,*,6,*,...,*,*,*,*,*,*,*,2016-17,H,*
9,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,Math,8,6,*,6,*,...,*,*,*,*,*,*,*,2016-17,H,*
10,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,ELA,18,15,*,15,*,...,*,*,*,*,*,*,*,2016-17,None,*
11,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,Math,18,15,*,13,*,...,*,*,*,*,*,*,*,2016-17,None,*
12,Avon School District,0040011,Avon High School,0046111,ELA,283,280,98.9,280,14,...,119,42.5,128,45.7,247,88.2,603,2016-17,B,603
13,Avon School District,0040011,Avon High School,0046111,Math,283,280,98.9,280,12,...,103,36.8,119,42.5,222,79.3,612,2016-17,B,612
14,Berlin School District,0070011,Berlin High School,0076111,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
15,Berlin School District,0070011,Berlin High School,0076111,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
16,Bethel School District,0090011,Bethel High School,0096111,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
17,Bethel School District,0090011,Bethel High School,0096111,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
18,Bloomfield School District,0110011,Bloomfield High School,0116111,ELA,129,126,97.7,126,31,...,47,37.3,7,5.6,54,42.9,473,2016-17,G,473
19,Bloomfield School District,0110011,Bloomfield High School,0116111,Math,129,126,97.7,126,37,...,*,*,*,*,21,16.7,450,2016-17,G,450
20,Bloomfield School District,0110011,Global Experience Magnet School,0116311,ELA,27,27,100.0,27,*,...,16,59.3,0,0.0,16,59.3,485,2016-17,G,485
21,Bloomfield School District,0110011,Global Experience Magnet School,0116311,Math,27,27,100.0,27,*,...,*,*,0,0.0,*,*,448,2016-17,G,448
22,Bloomfield School District,0110011,Learning Academy at Bloomfield,0116411,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
23,Bloomfield School District,0110011,Learning Academy at Bloomfield,0116411,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
24,Bolton School District,0120011,Bolton High School,0126111,ELA,79,79,100.0,79,6,...,42,53.2,22,27.8,64,81.0,562,2016-17,C,562
25,Bolton School District,0120011,Bolton High School,0126111,Math,79,79,100.0,79,14,...,30,38.0,9,11.4,39,49.4,521,2016-17,C,521
26,Branford School District,0140011,Branford High School,0146111,ELA,202,200,99.0,200,21,...,117,58.5,29,14.5,146,73.0,530,2016-17,D,530
27,Branford School District,0140011,Branford High School,0146111,Math,202,200,99.0,200,31,...,70,35.0,21,10.5,91,45.5,515,2016-17,D,515
28,Branford School District,0140011,Branford High School Horizons Program,0140211,ELA,13,12,*,12,*,...,*,*,*,*,*,*,*,2016-17,D,*
29,Branford School District,0140011,Branford High School Horizons Program,0140211,Math,13,12,*,12,*,...,*,*,*,*,*,*,*,2016-17,D,*
30,Bridgeport Achievement First District,2850013,Achievement First Bridgeport Academy,2850113,ELA,36,34,94.4,34,*,...,18,52.9,*,*,*,*,508,2016-17,None,508
31,Bridgeport Achievement First District,2850013,Achievement First Bridgeport Academy,2850113,Math,36,34,94.4,34,8,...,8,23.5,0,0.0,8,23.5,471,2016-17,None,471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,West Haven School District,1560011,West Haven High School,1566111,ELA,330,318,96.4,318,85,...,138,43.4,16,5.0,154,48.4,479,2016-17,H,479
621,West Haven School District,1560011,West Haven High School,1566111,Math,330,318,96.4,315,106,...,*,*,*,*,51,16.2,450,2016-17,H,450
622,Westbrook School District,1540011,Westbrook High School,1546111,ELA,88,88,100.0,88,8,...,57,64.8,12,13.6,69,78.4,544,2016-17,E,544
623,Westbrook School District,1540011,Westbrook High School,1546111,Math,88,88,100.0,88,9,...,34,38.6,6,6.8,40,45.5,514,2016-17,E,514
624,Weston School District,1570011,Weston High School,1576111,ELA,204,200,98.0,200,*,...,72,36.0,113,56.5,185,92.5,626,2016-17,A,626
625,Weston School District,1570011,Weston High School,1576111,Math,204,200,98.0,200,*,...,85,42.5,79,39.5,164,82.0,613,2016-17,A,613
626,Westport School District,1580011,Staples High School,1586111,ELA,464,459,98.9,459,19,...,189,41.2,235,51.2,424,92.4,616,2016-17,A,616
627,Westport School District,1580011,Staples High School,1586111,Math,464,459,98.9,457,18,...,166,36.3,192,42.0,358,78.3,609,2016-17,A,609
628,Wethersfield School District,1590011,Wethersfield High School,1596111,ELA,304,300,98.7,300,25,...,156,52.0,61,20.3,217,72.3,540,2016-17,D,540
629,Wethersfield School District,1590011,Wethersfield High School,1596111,Math,304,300,98.7,300,48,...,93,31.0,38,12.7,131,43.7,521,2016-17,D,521
630,Wilton School District,1610011,Wilton High School,1616111,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
631,Wilton School District,1610011,Wilton High School,1616111,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
632,Windham School District,1630011,Windham High School,1636111,ELA,124,121,97.6,121,48,...,40,33.1,7,5.8,47,38.8,455,2016-17,I,455
633,Windham School District,1630011,Windham High School,1636111,Math,124,121,97.6,121,47,...,*,*,*,*,14,11.6,435,2016-17,I,435
634,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
635,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
636,Windsor Locks School District,1650011,Windsor Locks High School,1656111,ELA,98,97,99.0,97,14,...,51,52.6,6,6.2,57,58.8,497,2016-17,F,497
637,Windsor Locks School District,1650011,Windsor Locks High School,1656111,Math,98,97,99.0,97,*,...,27,27.8,*,*,*,*,491,2016-17,F,491
638,Windsor School District,1640011,Expulsion,1640411,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
639,Windsor School District,1640011,Expulsion,1640411,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
640,Windsor School District,1640011,Spark,1640311,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
641,Windsor School District,1640011,Spark,1640311,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
642,Windsor School District,1640011,Windsor High School,1646111,ELA,295,283,95.9,283,35,...,142,50.2,35,12.4,177,62.5,512,2016-17,D,512
643,Windsor School District,1640011,Windsor High School,1646111,Math,295,283,95.9,283,50,...,84,29.7,17,6.0,101,35.7,495,2016-17,D,495
644,Wolcott School District,1660011,Phoenix Program,1660411,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
645,Wolcott School District,1660011,Phoenix Program,1660411,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
646,Wolcott School District,1660011,Wolcott High School,1666111,ELA,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
647,Wolcott School District,1660011,Wolcott High School,1666111,Math,*,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
648,Woodstock Academy District,9030022,Woodstock Academy,9036122,ELA,246,243,98.8,243,23,...,136,56.0,61,25.1,197,81.1,555,2016-17,E,555
649,Woodstock Academy District,9030022,Woodstock Academy,9036122,Math,246,243,98.8,243,30,...,92,37.9,40,16.5,132,54.3,535,2016-17,E,535

In [47]:
get_df("all","2017").to_csv("../clean/for_db/sat_all_2017.csv",index=False)

In [48]:
get_df("race-eth","2017").to_csv("../clean/for_db/sat_race_2017.csv",index=False)

In [49]:
def weighted_avg(df, groups=[]):
    ret = df.copy()
    
    ret["level_3_4met_or_exceeded_averagescore"] = pd.to_numeric(ret["level_3_4met_or_exceeded_averagescore"],errors="coerce")
    ret["total_numberwith_scored_tests"] = pd.to_numeric(ret["total_numberwith_scored_tests"],errors="coerce")
    ret["weight"] = ret["level_3_4met_or_exceeded_averagescore"] * ret["total_numberwith_scored_tests"]
    
    
    ret = ret[ret["total_numberwith_scored_tests"].notnull()]
    ret = ret[ret["level_3_4met_or_exceeded_averagescore"].notnull()]

    ret = ret.groupby(["year","subject","drg"] + groups).agg({
            "weight":np.sum,
            "total_numberwith_scored_tests":np.sum
        }).reset_index()
    
    ret["average_score"] = ret["weight"] / ret["total_numberwith_scored_tests"]
    return ret
    
weighted_avg(get_df("all","2017"))

,year,subject,drg,total_numberwith_scored_tests,weight,average_score
0,2016-17,ELA,A,1900.0,1170275.0,615.934211
1,2016-17,ELA,B,5163.0,3003811.0,581.795661
2,2016-17,ELA,C,2132.0,1204510.0,564.967167
3,2016-17,ELA,D,3624.0,1974658.0,544.883554
4,2016-17,ELA,E,774.0,423896.0,547.669251
5,2016-17,ELA,F,1041.0,544595.0,523.146013
6,2016-17,ELA,G,4299.0,2141413.0,498.118865
7,2016-17,ELA,H,3835.0,1884301.0,491.343155
8,2016-17,ELA,I,5235.0,2367730.0,452.288443
9,2016-17,Math,A,1896.0,1155328.0,609.350211
10,2016-17,Math,B,5157.0,2933281.0,568.796005
11,2016-17,Math,C,2130.0,1174612.0,551.461033
12,2016-17,Math,D,3621.0,1914140.0,528.621928
13,2016-17,Math,E,773.0,407508.0,527.177232
14,2016-17,Math,F,1040.0,525631.0,505.414423
15,2016-17,Math,G,4287.0,2046683.0,477.416142
16,2016-17,Math,H,3823.0,1800344.0,470.924405
17,2016-17,Math,I,5206.0,2242609.0,430.773915

In [50]:
weighted_avg(get_df("all","2017")).to_csv("../clean/for_db/drg_sat_all_2017.csv", index=False)

In [51]:
weighted_avg(get_df("race-eth","2017"),groups=["race"]).to_csv("../clean/for_db/drg_sat_race_2017.csv", index=False)

In [52]:
get_df("ell","2017")

,district,district_code,school,school_code,subject,ell,total_numberof_students,total_numbertested,connecticut_school_day_satparticipationrate,total_numberwith_scored_tests,...,level_3met_count,level_3met_pct,level_4exceeded_count,level_4exceeded_pct,level_3_4met_or_exceeded_count,level_3_4met_or_exceeded_pct,level_3_4met_or_exceeded_averagescore,year,drg,average_score
2,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,ELA,N,39,39,100.0,39,...,22,56.4,*,*,*,*,488,2016-17,None,488
3,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,Math,N,39,39,100.0,38,...,13,34.2,*,*,*,*,494,2016-17,None,494
4,Amistad Academy District,2790013,Amistad Academy,2795113,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,None,*
5,Amistad Academy District,2790013,Amistad Academy,2795113,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,None,*
6,Amistad Academy District,2790013,Amistad Academy,2795113,Math,N,*,*,*,*,...,*,*,0,0.0,*,*,*,2016-17,None,*
7,Amistad Academy District,2790013,Amistad Academy,2795113,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,None,*
8,Ansonia School District,0020011,Ansonia High School,0026111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,H,*
9,Ansonia School District,0020011,Ansonia High School,0026111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,H,*
10,Ansonia School District,0020011,Ansonia High School,0026111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,H,*
11,Ansonia School District,0020011,Ansonia High School,0026111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,H,*
12,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,ELA,N,8,6,*,6,...,*,*,*,*,*,*,*,2016-17,H,*
13,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,Math,N,8,6,*,6,...,*,*,*,*,*,*,*,2016-17,H,*
14,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,ELA,N,18,15,*,15,...,*,*,*,*,*,*,*,2016-17,None,*
15,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,Math,N,18,15,*,13,...,*,*,*,*,*,*,*,2016-17,None,*
16,Avon School District,0040011,Avon High School,0046111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,B,*
17,Avon School District,0040011,Avon High School,0046111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,B,*
18,Avon School District,0040011,Avon High School,0046111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,B,*
19,Avon School District,0040011,Avon High School,0046111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,B,*
20,Berlin School District,0070011,Berlin High School,0076111,ELA,N,217,215,99.1,215,...,121,56.3,37,17.2,158,73.5,534,2016-17,D,534
21,Berlin School District,0070011,Berlin High School,0076111,Math,N,217,215,99.1,215,...,72,33.5,26,12.1,98,45.6,524,2016-17,D,524
22,Bethel School District,0090011,Bethel High School,0096111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
23,Bethel School District,0090011,Bethel High School,0096111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
24,Bethel School District,0090011,Bethel High School,0096111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
25,Bethel School District,0090011,Bethel High School,0096111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
26,Bloomfield School District,0110011,Bloomfield High School,0116111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
27,Bloomfield School District,0110011,Bloomfield High School,0116111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
28,Bloomfield School District,0110011,Bloomfield High School,0116111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
29,Bloomfield School District,0110011,Bloomfield High School,0116111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,G,*
30,Bloomfield School District,0110011,Global Experience Magnet School,0116311,ELA,N,27,27,100.0,27,...,16,59.3,0,0.0,16,59.3,485,2016-17,G,485
31,Bloomfield School District,0110011,Global Experience Magnet School,0116311,Math,N,27,27,100.0,27,...,*,*,0,0.0,*,*,448,2016-17,G,448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,Wilton School District,1610011,Wilton High School,1616111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
977,Wilton School District,1610011,Wilton High School,1616111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
978,Wilton School District,1610011,Wilton High School,1616111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
979,Wilton School District,1610011,Wilton High School,1616111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,A,*
980,Windham School District,1630011,Windham High School,1636111,ELA,N,98,95,96.9,95,...,*,*,7,7.4,*,*,475,2016-17,I,475
981,Windham School District,1630011,Windham High School,1636111,ELA,Y,26,26,100.0,26,...,*,*,0,0.0,*,*,380,2016-17,I,380
982,Windham School District,1630011,Windham High School,1636111,Math,N,98,95,96.9,95,...,13,13.7,*,*,*,*,451,2016-17,I,451
983,Windham School District,1630011,Windham High School,1636111,Math,Y,26,26,100.0,26,...,0,0.0,0,0.0,0,0.0,375,2016-17,I,375
984,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,ELA,N,9,8,*,8,...,*,*,*,*,*,*,*,2016-17,F,*
985,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,Math,N,9,8,*,8,...,*,*,*,*,*,*,*,2016-17,F,*
986,Windsor Locks School District,1650011,Windsor Locks High School,1656111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
987,Windsor Locks School District,1650011,Windsor Locks High School,1656111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
988,Windsor Locks School District,1650011,Windsor Locks High School,1656111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
989,Windsor Locks School District,1650011,Windsor Locks High School,1656111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
990,Windsor School District,1640011,Expulsion,1640411,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
991,Windsor School District,1640011,Expulsion,1640411,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
992,Windsor School District,1640011,Spark,1640311,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
993,Windsor School District,1640011,Spark,1640311,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,D,*
994,Windsor School District,1640011,Windsor High School,1646111,ELA,N,287,275,95.8,275,...,*,*,*,*,*,*,515,2016-17,D,515
995,Windsor School District,1640011,Windsor High School,1646111,ELA,Y,8,8,*,8,...,*,*,*,*,*,*,*,2016-17,D,*
996,Windsor School District,1640011,Windsor High School,1646111,Math,N,287,275,95.8,275,...,*,*,*,*,*,*,495,2016-17,D,495
997,Windsor School District,1640011,Windsor High School,1646111,Math,Y,8,8,*,8,...,*,*,*,*,*,*,*,2016-17,D,*
998,Wolcott School District,1660011,Phoenix Program,1660411,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
999,Wolcott School District,1660011,Phoenix Program,1660411,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
1000,Wolcott School District,1660011,Wolcott High School,1666111,ELA,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
1001,Wolcott School District,1660011,Wolcott High School,1666111,ELA,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
1002,Wolcott School District,1660011,Wolcott High School,1666111,Math,N,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
1003,Wolcott School District,1660011,Wolcott High School,1666111,Math,Y,*,*,*,*,...,*,*,*,*,*,*,*,2016-17,F,*
1004,Woodstock Academy District,9030022,Woodstock Academy,9036122,ELA,N,246,243,98.8,243,...,136,56.0,61,25.1,197,81.1,555,2016-17,E,555
1005,Woodstock Academy District,9030022,Woodstock Academy,9036122,Math,N,246,243,98.8,243,...,92,37.9,40,16.5,132,54.3,535,2016-17,E,535

In [53]:
weighted_avg(get_df("ell","2017"),groups=["ell"])#.to_csv("../clean/for_db/drg_sat_race.csv", index=False)

,year,subject,drg,ell,total_numberwith_scored_tests,weight,average_score
0,2016-17,ELA,A,N,325.0,203775.0,627.000000
1,2016-17,ELA,B,N,2619.0,1531617.0,584.809851
2,2016-17,ELA,C,N,1889.0,1073686.0,568.388565
3,2016-17,ELA,D,N,1921.0,1046015.0,544.515877
4,2016-17,ELA,E,N,1068.0,576254.0,539.563670
5,2016-17,ELA,F,N,514.0,265775.0,517.071984
6,2016-17,ELA,G,N,2816.0,1420994.0,504.614347
7,2016-17,ELA,G,Y,29.0,11832.0,408.000000
8,2016-17,ELA,H,N,3079.0,1557947.0,505.991231
9,2016-17,ELA,H,Y,434.0,165010.0,380.207373
10,2016-17,ELA,I,N,3289.0,1489432.0,452.852539
11,2016-17,ELA,I,Y,596.0,223639.0,375.233221
12,2016-17,Math,A,N,324.0,205092.0,633.000000
13,2016-17,Math,B,N,2617.0,1489319.0,569.094001
14,2016-17,Math,C,N,1887.0,1042927.0,552.690514
15,2016-17,Math,D,N,1921.0,1004634.0,522.974492
16,2016-17,Math,E,N,1062.0,548908.0,516.862524
17,2016-17,Math,F,N,513.0,255773.0,498.582846
18,2016-17,Math,G,N,2807.0,1351492.0,481.472034
19,2016-17,Math,G,Y,29.0,12441.0,429.000000
20,2016-17,Math,H,N,3071.0,1481529.0,482.425594
21,2016-17,Math,H,Y,411.0,157212.0,382.510949
22,2016-17,Math,I,N,3266.0,1399427.0,428.483466
23,2016-17,Math,I,Y,573.0,212777.0,371.338569

In [54]:
def state_report(group="all",year="2017"):
    
    ret = pd.read_csv("../scripts/noequals/CTSchoolDaySAT-state-"+group+ "-" + year + ".csv",skiprows=2,header=None)
    ret = gs.merge_01(ret)
    ret = gs.clean_colnames(ret)
    
    ret["level"] = "Statewide"
    ret["year"] = fyear(year)
    
    ret["average_score"] = ret["level_3_4met_or_exceeded_averagescore"]
    
    return ret

state_report(group="race",year="2017")

,district,subject,race,total_numberof_students,total_numbertested,connecticut_school_day_satparticipationrate,total_numberwith_scored_tests,level_1not_met_count,level_1not_met_pct,level_2approaching_count,...,level_3met_count,level_3met_pct,level_4exceeded_count,level_4exceeded_pct,level_3_4met_or_exceeded_count,level_3_4met_or_exceeded_pct,level_3_4met_or_exceeded_averagescore,level,year,average_score
2,State of Connecticut,ELA,American Indian or Alaska Native,126,123,97.6,122,36,29.5,*,...,50,41.0,*,*,*,*,485,Statewide,2016-17,485
3,State of Connecticut,ELA,Asian,1975,1952,98.8,1952,158,8.1,237,...,847,43.4,710,36.4,1557,79.8,577,Statewide,2016-17,577
4,State of Connecticut,ELA,Black or African American,5179,4814,93.0,4814,1699,35.3,1344,...,1591,33.0,180,3.7,1771,36.8,456,Statewide,2016-17,456
5,State of Connecticut,ELA,Hispanic/Latino of any race,8122,7559,93.1,7558,2695,35.7,1869,...,2610,34.5,384,5.1,2994,39.6,460,Statewide,2016-17,460
6,State of Connecticut,ELA,Native Hawaiian or Other Pacific Islander,43,42,97.7,42,13,31.0,*,...,19,45.2,*,*,*,*,502,Statewide,2016-17,502
7,State of Connecticut,ELA,Two or More Races,825,796,96.5,796,110,13.8,142,...,385,48.4,159,20.0,544,68.3,529,Statewide,2016-17,529
8,State of Connecticut,ELA,White,23732,23135,97.5,23135,2056,8.9,2912,...,12276,53.1,5891,25.5,18167,78.5,555,Statewide,2016-17,555
9,State of Connecticut,Math,American Indian or Alaska Native,126,123,97.6,122,40,32.8,57,...,*,*,*,*,25,20.5,460,Statewide,2016-17,460
10,State of Connecticut,Math,Asian,1975,1952,98.8,1949,143,7.3,509,...,614,31.5,683,35.0,1297,66.5,588,Statewide,2016-17,588
11,State of Connecticut,Math,Black or African American,5179,4814,93.0,4789,2068,43.2,2122,...,528,11.0,71,1.5,599,12.5,432,Statewide,2016-17,432
12,State of Connecticut,Math,Hispanic/Latino of any race,8122,7559,93.1,7510,3055,40.7,3216,...,1067,14.2,172,2.3,1239,16.5,440,Statewide,2016-17,440
13,State of Connecticut,Math,Native Hawaiian or Other Pacific Islander,43,42,97.7,42,*,*,14,...,15,35.7,*,*,*,*,490,Statewide,2016-17,490
14,State of Connecticut,Math,Two or More Races,825,796,96.5,791,153,19.3,323,...,214,27.1,101,12.8,315,39.8,508,Statewide,2016-17,508
15,State of Connecticut,Math,White,23732,23135,97.5,23087,2644,11.5,8124,...,8570,37.1,3749,16.2,12319,53.4,537,Statewide,2016-17,537

In [55]:
state_report().to_csv("../clean/for_db/state_sat_all_2017.csv",index=False)

In [56]:
state_report("race").to_csv("../clean/for_db/state_sat_race_2017.csv",index=False)

In [57]:
state_report("ell").to_csv("../clean/for_db/state_sat_ell_2017.csv",index=False)