In [6]:
import pandas as pd, re
import numpy as np
import getschools as gs

In [7]:
def get_df(group):
    ret = pd.read_csv("../scripts/noequals/CTSchoolDaySAT-"+group+".csv",skiprows=2,header=None)
    ret = gs.merge_01(ret)
    ret = gs.clean_colnames(ret)
    
    ret["district_code"] = ret["district_code"].str.replace("\"","")
    ret["school_code"] = ret["school_code"].str.replace("\"","")
    
    ret["year"] = "2015-16"
    
    ret = gs.add_drg(ret)
    ret["average_score"] = ret["level_3_4met_or_exceeded_averagescore"]
    return ret

get_df("all")

,district,district_code,school,school_code,subject,total_numberwith_scored_tests,level_1not_met_count,level_1not_met_pct,level_2approaching_count,level_2approaching_pct,level_3met_count,level_3met_pct,level_4exceeded_count,level_4exceeded_pct,level_3_4met_or_exceeded_count,level_3_4met_or_exceeded_pct,level_3_4met_or_exceeded_averagescore,year,drg,average_score
2,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,ELA,30,*,*,7,23.3,17,56.7,*,*,*,*,529,2015-16,None,529
3,Achievement First Hartford Academy Inc. District,2880013,Achievement First Hartford Academy Inc.,2880113,Math,30,*,*,13,43.3,14,46.7,*,*,*,*,537,2015-16,None,537
4,Amistad Academy District,2790013,Amistad Academy,2795113,ELA,44,6,13.6,*,*,28,63.6,*,*,*,*,515,2015-16,None,515
5,Amistad Academy District,2790013,Amistad Academy,2795113,Math,44,11,25.0,23,52.3,*,*,*,*,10,22.7,470,2015-16,None,470
6,Ansonia School District,0020011,Ansonia High School,0026111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
7,Ansonia School District,0020011,Ansonia High School,0026111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
8,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
9,Ansonia School District,0020011,P.A.C.E. (Positive And Creative Education),0020111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
10,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,ELA,18,*,*,*,*,*,*,*,*,*,*,*,2015-16,None,*
11,Area Cooperative Educational Services,2440014,Whitney High School North,2449114,Math,16,*,*,*,*,*,*,*,*,*,*,*,2015-16,None,*
12,Avon School District,0040011,Avon High School,0046111,ELA,241,7,2.9,16,6.6,102,42.3,116,48.1,218,90.5,608,2015-16,B,608
13,Avon School District,0040011,Avon High School,0046111,Math,242,12,5.0,44,18.2,100,41.3,86,35.5,186,76.9,604,2015-16,B,604
14,Berlin School District,0070011,Berlin High School,0076111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
15,Berlin School District,0070011,Berlin High School,0076111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
16,Bethel School District,0090011,Bethel High School,0096111,ELA,194,19,9.8,22,11.3,118,60.8,35,18.0,153,78.9,543,2015-16,D,543
17,Bethel School District,0090011,Bethel High School,0096111,Math,194,26,13.4,57,29.4,91,46.9,20,10.3,111,57.2,531,2015-16,D,531
18,Bloomfield School District,0110011,Bloomfield High School,0116111,ELA,137,41,29.9,*,*,58,42.3,*,*,*,*,469,2015-16,G,469
19,Bloomfield School District,0110011,Bloomfield High School,0116111,Math,137,40,29.2,76,55.5,*,*,*,*,21,15.3,458,2015-16,G,458
20,Bloomfield School District,0110011,Global Experience Magnet School,0116311,ELA,*,*,*,*,*,*,*,0,0.0,*,*,*,2015-16,G,*
21,Bloomfield School District,0110011,Global Experience Magnet School,0116311,Math,*,*,*,*,*,*,*,0,0.0,*,*,*,2015-16,G,*
22,Bloomfield School District,0110011,Learning Academy at Bloomfield,0116411,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,G,*
23,Bloomfield School District,0110011,Learning Academy at Bloomfield,0116411,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,G,*
24,Bolton School District,0120011,Bolton High School,0126111,ELA,67,6,9.0,6,9.0,40,59.7,15,22.4,55,82.1,555,2015-16,C,555
25,Bolton School District,0120011,Bolton High School,0126111,Math,67,12,17.9,23,34.3,22,32.8,10,14.9,32,47.8,516,2015-16,C,516
26,Branford School District,0140011,Branford High School,0146111,ELA,232,33,14.2,48,20.7,107,46.1,44,19.0,151,65.1,524,2015-16,D,524
27,Branford School District,0140011,Branford High School,0146111,Math,232,47,20.3,101,43.5,57,24.6,27,11.6,84,36.2,503,2015-16,D,503
28,Branford School District,0140011,Branford High School Horizons Program,0140211,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
29,Branford School District,0140011,Branford High School Horizons Program,0140211,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
30,Bridgeport Achievement First District,2850013,Achievement First Bridgeport Academy,2850113,ELA,34,*,*,*,*,25,73.5,*,*,*,*,515,2015-16,None,515
31,Bridgeport Achievement First District,2850013,Achievement First Bridgeport Academy,2850113,Math,35,7,20.0,14,40.0,14,40.0,0,0.0,14,40.0,489,2015-16,None,489
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,West Haven School District,1560011,Blended (Molloy),1560511,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
571,West Haven School District,1560011,Blended (Molloy),1560511,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,H,*
572,West Haven School District,1560011,West Haven High School,1566111,ELA,295,82,27.8,78,26.4,118,40.0,17,5.8,135,45.8,472,2015-16,H,472
573,West Haven School District,1560011,West Haven High School,1566111,Math,295,99,33.6,145,49.2,45,15.3,6,2.0,51,17.3,455,2015-16,H,455
574,Westbrook School District,1540011,Westbrook High School,1546111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,E,*
575,Westbrook School District,1540011,Westbrook High School,1546111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,E,*
576,Weston School District,1570011,Weston High School,1576111,ELA,197,19,9.6,12,6.1,90,45.7,76,38.6,166,84.3,585,2015-16,A,585
577,Weston School District,1570011,Weston High School,1576111,Math,197,25,12.7,32,16.2,69,35.0,71,36.0,140,71.1,582,2015-16,A,582
578,Westport School District,1580011,Staples High School,1586111,ELA,431,23,5.3,17,3.9,199,46.2,192,44.5,391,90.7,598,2015-16,A,598
579,Westport School District,1580011,Staples High School,1586111,Math,431,32,7.4,73,16.9,163,37.8,163,37.8,326,75.6,599,2015-16,A,599
580,Wethersfield School District,1590011,Wethersfield High School,1596111,ELA,250,33,13.2,40,16.0,145,58.0,32,12.8,177,70.8,522,2015-16,D,522
581,Wethersfield School District,1590011,Wethersfield High School,1596111,Math,250,40,16.0,91,36.4,95,38.0,24,9.6,119,47.6,519,2015-16,D,519
582,Wilton School District,1610011,Wilton High School,1616111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,A,*
583,Wilton School District,1610011,Wilton High School,1616111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,A,*
584,Windham School District,1630011,Windham High School,1636111,ELA,101,47,46.5,28,27.7,*,*,*,*,26,25.7,433,2015-16,I,433
585,Windham School District,1630011,Windham High School,1636111,Math,101,62,61.4,28,27.7,11,10.9,0,0.0,11,10.9,410,2015-16,I,410
586,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
587,Windsor Locks School District,1650011,Pine Meadow Academy,1650611,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
588,Windsor Locks School District,1650011,Windsor Locks High School,1656111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
589,Windsor Locks School District,1650011,Windsor Locks High School,1656111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
590,Windsor School District,1640011,Spark,1640311,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
591,Windsor School District,1640011,Spark,1640311,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,D,*
592,Windsor School District,1640011,Windsor High School,1646111,ELA,257,44,17.1,69,26.8,120,46.7,24,9.3,144,56.0,503,2015-16,D,503
593,Windsor School District,1640011,Windsor High School,1646111,Math,257,63,24.5,120,46.7,54,21.0,20,7.8,74,28.8,483,2015-16,D,483
594,Wolcott School District,1660011,Phoenix Program,1660411,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
595,Wolcott School District,1660011,Phoenix Program,1660411,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
596,Wolcott School District,1660011,Wolcott High School,1666111,ELA,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
597,Wolcott School District,1660011,Wolcott High School,1666111,Math,*,*,*,*,*,*,*,*,*,*,*,*,2015-16,F,*
598,Woodstock Academy District,9030022,Woodstock Academy,9036122,ELA,258,21,8.1,39,15.1,153,59.3,45,17.4,198,76.7,540,2015-16,E,540
599,Woodstock Academy District,9030022,Woodstock Academy,9036122,Math,258,34,13.2,93,36.0,76,29.5,55,21.3,131,50.8,538,2015-16,E,538

In [8]:
get_df("all").to_csv("../clean/for_db/sat_all.csv",index=False)

In [9]:
get_df("race-eth").to_csv("../clean/for_db/sat_race.csv",index=False)

In [10]:
def weighted_avg(df, groups=[]):
    ret = df.copy()
    
    ret["level_3_4met_or_exceeded_averagescore"] = pd.to_numeric(ret["level_3_4met_or_exceeded_averagescore"],errors="coerce")
    ret["total_numberwith_scored_tests"] = pd.to_numeric(ret["total_numberwith_scored_tests"],errors="coerce")
    ret["weight"] = ret["level_3_4met_or_exceeded_averagescore"] * ret["total_numberwith_scored_tests"]
    
    
    ret = ret[ret["total_numberwith_scored_tests"].notnull()]
    ret = ret[ret["level_3_4met_or_exceeded_averagescore"].notnull()]

    ret = ret.groupby(["year","subject","drg"] + groups).agg({
            "weight":np.sum,
            "total_numberwith_scored_tests":np.sum
        }).reset_index()
    
    ret["average_score"] = ret["weight"] / ret["total_numberwith_scored_tests"]
    return ret
    
weighted_avg(get_df("all"))

,year,subject,drg,total_numberwith_scored_tests,weight,average_score
0,2015-16,ELA,A,1609.0,968851.0,602.144810
1,2015-16,ELA,B,5937.0,3401549.0,572.940711
2,2015-16,ELA,C,2124.0,1189849.0,560.192561
3,2015-16,ELA,D,4464.0,2384534.0,534.169803
4,2015-16,ELA,E,1233.0,661508.0,536.502839
5,2015-16,ELA,F,778.0,396282.0,509.359897
6,2015-16,ELA,G,3148.0,1591720.0,505.628971
7,2015-16,ELA,H,3752.0,1820391.0,485.178838
8,2015-16,ELA,I,4889.0,2182723.0,446.455921
9,2015-16,Math,A,1609.0,965828.0,600.266004
10,2015-16,Math,B,5917.0,3343376.0,565.045800
11,2015-16,Math,C,2123.0,1150011.0,541.691474
12,2015-16,Math,D,4250.0,2190870.0,515.498824
13,2015-16,Math,E,1232.0,635501.0,515.828734
14,2015-16,Math,F,778.0,383670.0,493.149100
15,2015-16,Math,G,3145.0,1511660.0,480.655008
16,2015-16,Math,H,3750.0,1748915.0,466.377333
17,2015-16,Math,I,4882.0,2077577.0,425.558583

In [11]:
weighted_avg(get_df("all")).to_csv("../clean/for_db/drg_sat_all.csv", index=False)

In [12]:
weighted_avg(get_df("race-eth"),groups=["race"]).to_csv("../clean/for_db/drg_sat_race.csv", index=False)

In [13]:
weighted_avg(get_df("ell"),groups=["ell"])#.to_csv("../clean/for_db/drg_sat_race.csv", index=False)

,year,subject,drg,ell,total_numberwith_scored_tests,weight,average_score
0,2015-16,ELA,A,N,1252.0,756616.0,604.325879
1,2015-16,ELA,B,N,3809.0,2184078.0,573.399317
2,2015-16,ELA,C,N,1437.0,804830.0,560.076548
3,2015-16,ELA,D,N,1460.0,777289.0,532.389726
4,2015-16,ELA,E,N,993.0,535460.0,539.234642
5,2015-16,ELA,F,N,853.0,437075.0,512.397421
6,2015-16,ELA,G,N,3252.0,1642589.0,505.101169
7,2015-16,ELA,G,Y,44.0,16940.0,385.000000
8,2015-16,ELA,H,N,3186.0,1580745.0,496.153484
9,2015-16,ELA,H,Y,334.0,128547.0,384.871257
10,2015-16,ELA,I,N,2826.0,1260170.0,445.920028
11,2015-16,ELA,I,Y,468.0,172027.0,367.579060
12,2015-16,Math,A,N,1251.0,751808.0,600.965627
13,2015-16,Math,B,N,3788.0,2132875.0,563.060982
14,2015-16,Math,C,N,1436.0,778062.0,541.825905
15,2015-16,Math,D,N,1459.0,745391.0,510.891707
16,2015-16,Math,E,N,993.0,516370.0,520.010070
17,2015-16,Math,F,N,852.0,420495.0,493.538732
18,2015-16,Math,G,N,3247.0,1548712.0,476.967047
19,2015-16,Math,G,Y,43.0,17200.0,400.000000
20,2015-16,Math,H,N,3185.0,1514431.0,475.488540
21,2015-16,Math,H,Y,334.0,126114.0,377.586826
22,2015-16,Math,I,N,2821.0,1192817.0,422.834810
23,2015-16,Math,I,Y,467.0,170919.0,365.993576

In [14]:
def state_report(group="all"):
    
    ret = pd.read_csv("../scripts/noequals/CTSchoolDaySAT-state-"+group+".csv",skiprows=2,header=None)
    ret = gs.merge_01(ret)
    ret = gs.clean_colnames(ret)
    
    ret["level"] = "Statewide"
    ret["year"] = "2015-16"
    
    ret["average_score"] = ret["level_3_4met_or_exceeded_averagescore"]
    
    return ret

state_report("race")

,district,subject,race,total_numberwith_scored_tests,level_1not_met_count,level_1not_met_pct,level_2approaching_count,level_2approaching_pct,level_3met_count,level_3met_pct,level_4exceeded_count,level_4exceeded_pct,level_3_4met_or_exceeded_count,level_3_4met_or_exceeded_pct,level_3_4met_or_exceeded_averagescore,level,year,average_score
2,State of Connecticut,ELA,American Indian or Alaska Native,104,*,*,23,22.1,51,49.0,*,*,*,*,507,Statewide,2015-16,507
3,State of Connecticut,ELA,Asian,1687,155,9.2,201,11.9,800,47.4,531,31.5,1331,78.9,565,Statewide,2015-16,565
4,State of Connecticut,ELA,Black or African American,4666,1707,36.6,1261,27.0,1553,33.3,145,3.1,1698,36.4,451,Statewide,2015-16,451
5,State of Connecticut,ELA,Hispanic/Latino of any race,6970,2525,36.2,1729,24.8,2406,34.5,310,4.4,2716,39.0,457,Statewide,2015-16,457
6,State of Connecticut,ELA,Native Hawaiian or Other Pacific Islander,31,9,29.0,*,*,12,38.7,*,*,*,*,491,Statewide,2015-16,491
7,State of Connecticut,ELA,Two or More Races,755,126,16.7,148,19.6,367,48.6,114,15.1,481,63.7,517,Statewide,2015-16,517
8,State of Connecticut,ELA,White,23640,2145,9.1,3187,13.5,12896,54.6,5412,22.9,18308,77.4,548,Statewide,2015-16,548
9,State of Connecticut,Math,American Indian or Alaska Native,104,25,24.0,50,48.1,*,*,*,*,29,27.9,487,Statewide,2015-16,487
10,State of Connecticut,Math,Asian,1686,141,8.4,412,24.4,596,35.3,537,31.9,1133,67.2,582,Statewide,2015-16,582
11,State of Connecticut,Math,Black or African American,4660,2068,44.4,2016,43.3,521,11.2,55,1.2,576,12.4,431,Statewide,2015-16,431
12,State of Connecticut,Math,Hispanic/Latino of any race,6956,3039,43.7,2838,40.8,915,13.2,164,2.4,1079,15.5,438,Statewide,2015-16,438
13,State of Connecticut,Math,Native Hawaiian or Other Pacific Islander,31,*,*,14,45.2,9,29.0,*,*,*,*,479,Statewide,2015-16,479
14,State of Connecticut,Math,Two or More Races,754,189,25.1,313,41.5,172,22.8,80,10.6,252,33.4,493,Statewide,2015-16,493
15,State of Connecticut,Math,White,23625,3286,13.9,8547,36.2,8434,35.7,3358,14.2,11792,49.9,529,Statewide,2015-16,529

In [15]:
state_report().to_csv("../clean/for_db/state_sat_all.csv",index=False)

In [16]:
state_report("race").to_csv("../clean/for_db/state_sat_race.csv",index=False)

In [17]:
state_report("ell").to_csv("../clean/for_db/state_sat_ell.csv",index=False)