In [4]:
import pandas as pd
import numpy as np
import getschools as gs

In [23]:
def get_df (year="2015-16"):
    ret = pd.read_csv("../scripts/noequals/staffing-race-"+year+".csv",skiprows=1)
    ret = gs.clean_colnames(ret)
    ret["school"] = ret["school"].fillna(method="ffill")
    ret["district"] = ret["district"].fillna(method="ffill")
    
    ret = gs.add_exact_matches(ret)
    ret["year"] = year
    return ret

df = get_df()

In [27]:
df.head(10)

,district,school,race,count,pct_of_total,school_code,check_sch_col,check_dist_col,year
0,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,American Indian or Alaska Native,2,1.8,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
1,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,Asian,5,4.5,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
2,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,Black or African American,24,21.4,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
3,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,Hispanic or Latino,5,4.5,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
4,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,Two or More Races,1,0.9,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
5,Achievement First Hartford Academy Inc. District,Achievement First Hartford Academy Inc.,White,75,67.0,2880113,Achievement First Hartford Academy Inc.,Achievement First Hartford Academy Inc. District,2015-16
6,Amistad Academy District,Amistad Academy,Asian,2,1.8,2795113,Amistad Academy,Amistad Academy District,2015-16
7,Amistad Academy District,Amistad Academy,Black or African American,15,13.5,2795113,Amistad Academy,Amistad Academy District,2015-16
8,Amistad Academy District,Amistad Academy,Hispanic or Latino,7,6.3,2795113,Amistad Academy,Amistad Academy District,2015-16
9,Amistad Academy District,Amistad Academy,White,87,78.4,2795113,Amistad Academy,Amistad Academy District,2015-16

In [21]:
len(df[df["school_code"].isnull()]["school"].unique())

41

In [22]:
len(df[df["school_code"].notnull()]["school"].unique())

1196

In [26]:
get_df(year="2015-16").to_csv("../clean/staff_race_2015_16.csv",index=False)

In [29]:
df["race"].value_counts()

White                                        1278
Hispanic or Latino                            651
Black or African American                     526
Asian                                         364
American Indian or Alaska Native               62
Two or More Races                              40
Native Hawaiian or Other Pacific Islander      21
Name: race, dtype: int64