In [9]:
import pandas as pd
import numpy as no
import getschools as gs

In [28]:
def get_df():
   
    ret = pd.read_excel("../raw/Copy of 420.xlsx", sheetname="Avg Salary Gen Ed Teacher",
                       skiprows=3, heading=0)
    
    ret = gs.clean_colnames(ret)
    
    ret["district_code"] = ret["district_code"].fillna(0).apply(lambda x: str(int(x)))#.str.zfill(7)
    ret["school_code"] = ret["school_code"].fillna(0).apply(lambda x: str(int(x)))#.str.zfill(7)
     
    ret = gs.add_drg(ret)
    return ret

get_df()

,district_name,district_code,school_code,school_name,arts,elem,eng_lang_arts,math,other_subjects,science,social_sciences,social_studies,special_program,vocational_ed_,world_languages,grand_total,drg
0,Achievement First Hartford Academy Inc.,288,0,Achievement First Hartford Academy Inc.,NaN,NaN,NaN,49666.00000,46300.33333,47526.00000,NaN,43372.00000,NaN,NaN,NaN,46577.50000,None
1,NaN,288,1,Achievement First Hartford Academy Inc.,55437.00000,51855.22222,56046.16667,56024.66667,56608.00000,53589.50000,NaN,56973.25000,NaN,NaN,NaN,53410.05172,None
2,Achievement First Hartford Academy Inc. Total,0,0,NaN,55437.00000,51855.22222,56046.16667,54435.00000,51454.16667,51568.33333,NaN,54253.00000,NaN,NaN,NaN,52769.50000,None
3,Amistad Academy District,279,0,Amistad Academy,NaN,47526.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47526.00000,None
4,NaN,279,51,Amistad Academy,54236.00000,58839.61765,49638.90909,55473.28571,61163.66667,49521.57143,NaN,54525.66667,80078.50000,NaN,55691.00000,56361.35135,None
5,Amistad Academy District Total,0,0,NaN,54236.00000,58516.37143,49638.90909,55473.28571,61163.66667,49521.57143,NaN,54525.66667,80078.50000,NaN,55691.00000,56243.54667,None
6,Andover School District,1,1,Andover Elementary School,59332.50000,62807.36842,NaN,NaN,53999.00000,NaN,NaN,NaN,57133.33333,NaN,21836.00000,59970.76923,None
7,Andover School District Total,0,0,NaN,59332.50000,62807.36842,NaN,NaN,53999.00000,NaN,NaN,NaN,57133.33333,NaN,21836.00000,59970.76923,None
8,Ansonia School District,2,3,Mead School,69276.50000,57562.92308,NaN,NaN,60508.80000,NaN,NaN,NaN,72509.00000,NaN,NaN,59124.76471,None
9,NaN,2,8,Prendergast School,54040.50000,51062.00000,NaN,NaN,68240.66667,NaN,NaN,NaN,NaN,NaN,NaN,54008.72973,None
10,NaN,2,51,Ansonia Middle School,39508.50000,NaN,53303.25000,58671.00000,61322.60000,48450.00000,NaN,60011.25000,62733.00000,64652.00000,NaN,55790.28000,None
11,NaN,2,61,Ansonia High School,74024.00000,NaN,53156.55556,56238.14286,48347.66667,51719.87500,NaN,57471.57143,NaN,44244.60000,46867.66667,53251.20455,None
12,Ansonia School District Total,0,0,NaN,59212.37500,54135.16364,53201.69231,57122.81818,61244.42105,50629.91667,NaN,58395.09091,67621.00000,47645.83333,46867.66667,55331.25000,None
13,Area Cooperative Educational Services,244,0,Central Office: ACES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54198.00000,NaN,NaN,54198.00000,None
14,NaN,244,3,Wintergreen Interdistrict Magnet School,65923.33333,68580.90000,84298.00000,58319.00000,61001.75000,76277.50000,NaN,72123.50000,NaN,NaN,84298.00000,68653.82051,None
15,NaN,244,51,Thomas Edison Magnet Middle School,67897.00000,NaN,65369.80000,65391.66667,74483.66667,69845.44444,NaN,68243.80000,56129.00000,NaN,54612.20000,66335.17544,None
16,NaN,244,91,Whitney High School North,64362.00000,NaN,NaN,NaN,83298.00000,NaN,NaN,NaN,NaN,74575.00000,NaN,74202.50000,None
17,NaN,244,92,Whitney High School East,NaN,NaN,NaN,NaN,50700.00000,NaN,NaN,NaN,NaN,NaN,NaN,50700.00000,None
18,NaN,244,93,Whitney High School West,70867.00000,NaN,NaN,NaN,83298.00000,NaN,NaN,NaN,NaN,NaN,NaN,77082.50000,None
19,NaN,244,94,Mill Road School,73447.00000,49389.33333,NaN,NaN,74575.00000,NaN,NaN,NaN,NaN,NaN,NaN,63458.85714,None
20,NaN,244,95,Village School,69337.00000,NaN,NaN,NaN,80409.00000,NaN,NaN,NaN,NaN,NaN,NaN,76718.33333,None
21,NaN,244,99,ACES Educational Center for the Arts - Part Time,62973.25000,NaN,69758.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64330.20000,None
22,Area Cooperative Educational Services Total,0,0,NaN,66918.90000,66077.65217,67312.83333,64105.72727,71657.23529,71014.90909,NaN,68890.41667,55646.25000,74575.00000,63093.85714,67315.08403,None
23,Ashford School District,3,1,Ashford School,64141.66667,53281.72727,46652.66667,71277.50000,71583.66667,43583.00000,NaN,72667.00000,53248.66667,NaN,68417.00000,56571.79487,None
24,Ashford School District Total,0,0,NaN,64141.66667,53281.72727,46652.66667,71277.50000,71583.66667,43583.00000,NaN,72667.00000,53248.66667,NaN,68417.00000,56571.79487,None
25,Avon School District,4,3,Roaring Brook School,69542.66667,86598.73077,NaN,NaN,89027.00000,NaN,NaN,NaN,70951.00000,NaN,NaN,84662.50000,None
26,NaN,4,4,Pine Grove School,67924.33333,77016.04000,NaN,NaN,93365.00000,NaN,NaN,NaN,63492.50000,NaN,NaN,75791.09677,None
27,NaN,4,5,Thompson Brook School,91196.00000,81099.37037,NaN,NaN,79387.00000,89027.00000,NaN,NaN,73793.00000,NaN,NaN,82283.10811,None
28,NaN,4,51,Avon Middle School,82664.00000,NaN,80046.50000,87290.66667,93365.00000,93365.00000,NaN,77522.66667,93365.00000,89027.00000,79824.60000,84613.87179,None
29,NaN,4,61,Avon High School,75710.71429,NaN,76931.83333,76346.38462,87581.00000,75647.50000,NaN,71364.00000,NaN,89027.00000,78300.90909,76529.72973,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,NaN,163,83,Windham Early Childhood Prospect Street,NaN,65397.40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65397.40000,None
1283,NaN,163,89,Private School,NaN,62203.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62203.00000,None
1284,Windham School District Total,0,0,NaN,58833.62500,57485.35955,51941.00000,49883.44444,62745.84848,67235.61538,NaN,61951.09091,64609.00000,55467.00000,55388.00000,58846.74888,None
1285,Windsor Locks School District,165,1,North Street School,51613.00000,72756.30435,NaN,NaN,55356.66667,NaN,NaN,NaN,80528.66667,NaN,NaN,70460.54839,None
1286,NaN,165,4,South Elementary School,79655.00000,71558.52381,NaN,NaN,87831.00000,NaN,NaN,NaN,60931.66667,NaN,NaN,71580.18519,None
1287,NaN,165,51,Windsor Locks Middle School,81010.66667,NaN,77045.16667,78102.20000,66913.00000,62548.25000,NaN,59613.50000,91587.00000,83743.00000,71909.50000,72936.40000,None
1288,NaN,165,61,Windsor Locks High School,80867.25000,NaN,72569.50000,69210.50000,60640.25000,69894.50000,NaN,56900.33333,79655.00000,67704.40000,67524.25000,68497.86047,None
1289,Windsor Locks School District Total,0,0,NaN,75367.00000,72184.63636,74807.33333,73252.18182,63381.90909,66956.00000,NaN,57985.60000,75030.88889,72286.85714,68986.00000,70614.06107,None
1290,Windsor School District,164,0,Board Of Education Office,4410.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4410.00000,None
1291,NaN,164,1,Clover Street School,79407.50000,74602.60000,NaN,NaN,76028.00000,NaN,NaN,NaN,74786.50000,NaN,NaN,75578.17391,None
1292,NaN,164,5,Poquonock Elementary School,60007.00000,65498.86667,NaN,NaN,57156.50000,NaN,NaN,NaN,73093.00000,NaN,NaN,64731.36842,None
1293,NaN,164,8,John F. Kennedy School,74987.25000,64444.85000,NaN,NaN,56186.00000,NaN,NaN,NaN,85703.00000,NaN,NaN,65492.86207,None
1294,NaN,164,9,Oliver Ellsworth School,51441.66667,62342.91304,NaN,NaN,81010.00000,NaN,NaN,NaN,NaN,NaN,53514.00000,62825.20000,None
1295,NaN,164,53,Sage Park Middle School,75142.83333,NaN,56364.57895,67770.91667,63920.71429,60641.00000,NaN,68873.12500,51882.00000,79600.75000,62976.80000,64115.06944,None
1296,NaN,164,61,Windsor High School,68621.42857,NaN,59293.46667,63274.94118,64297.36364,65026.86667,NaN,63693.07143,51123.00000,59665.30000,57797.66667,62502.60606,None
1297,Windsor School District Total,0,0,NaN,67981.84615,66086.38356,57656.73529,65135.34483,65133.06897,63382.16667,NaN,65576.72727,66179.42857,65361.14286,59238.46667,64324.89377,None
1298,Wolcott School District,166,2,Frisbie School,76576.00000,62135.11111,NaN,NaN,52319.50000,NaN,NaN,NaN,86239.00000,NaN,NaN,62994.81818,None
1299,NaN,166,5,Wakelee School,76561.50000,58937.33333,NaN,NaN,70065.50000,NaN,NaN,NaN,81430.00000,NaN,NaN,62014.15385,None
1300,NaN,166,6,Alcott School,44426.00000,72517.60000,NaN,NaN,63584.00000,NaN,NaN,NaN,83128.00000,NaN,NaN,70932.57143,None
1301,NaN,166,51,Tyrrell Middle School,59929.33333,76757.20000,68567.77778,59571.60000,58255.66667,66783.60000,NaN,59046.50000,83999.50000,53474.00000,58855.60000,64682.91111,None
1302,NaN,166,61,Wolcott High School,62701.66667,NaN,63659.77778,64561.12500,66611.16667,76916.33333,NaN,68292.00000,81280.00000,70010.71429,61601.28571,67570.13559,None
1303,Wolcott School District Total,0,0,NaN,62404.00000,64875.69492,66113.77778,62642.07692,63056.28571,73297.50000,NaN,64593.80000,83291.50000,66335.88889,60457.25000,65810.44509,None
1304,Woodbridge School District,167,3,Beecher Road School,61178.40000,74377.07692,NaN,84004.00000,83022.66667,90858.00000,NaN,NaN,86691.50000,NaN,76182.00000,75495.27586,None
1305,Woodbridge School District Total,0,0,NaN,61178.40000,74377.07692,NaN,84004.00000,83022.66667,90858.00000,NaN,NaN,86691.50000,NaN,76182.00000,75495.27586,None
1306,Woodstock Academy,903,61,Woodstock Academy,63591.37500,NaN,61041.25000,57612.18182,65867.20000,71503.33333,66649.0,59462.90000,64710.00000,64495.81818,63397.12500,63370.81250,None
1307,Woodstock Academy Total,0,0,NaN,63591.37500,NaN,61041.25000,57612.18182,65867.20000,71503.33333,66649.0,59462.90000,64710.00000,64495.81818,63397.12500,63370.81250,None
1308,Woodstock School District,169,2,Woodstock Elementary School,74195.50000,61383.54167,NaN,NaN,64827.00000,NaN,NaN,NaN,73253.00000,NaN,NaN,62977.66667,None
1309,NaN,169,51,Woodstock Middle School,58828.33333,63582.70000,57409.50000,56246.66667,73945.50000,71503.00000,NaN,59881.00000,75388.00000,72753.00000,57287.50000,63608.06897,None
1310,Woodstock School District Total,0,0,NaN,64975.20000,62030.35294,57409.50000,56246.66667,68474.40000,71503.00000,NaN,59881.00000,74676.33333,72753.00000,57287.50000,63287.52542,None
1311,State Total,0,0,NaN,68346.38169,67944.37729,67351.38978,68087.30833,70133.81101,70422.04256,67301.0,68574.94811,74311.80011,71344.06193,67960.80957,68786.73711,None